label > input[type=radio] { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input[type=radio] + img { /* IMAGE STYLES */
    cursor: pointer;
    /*border: 2px solid transparent;*/
    opacity: 0.3;
}

label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    /*border: 2px solid #0288D1;*/
    /*background: transparent;*/
    opacity: 1;
    color: #0288D1;
}

label:not(.btn) {
    opacity:0.6;
}

.list-group-item {
    /*background-color: white;*/
    border: none;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    background-color: #90CAF9;
}

.list-group-item li {
    border: none !important;
}

ul.list-group-item {
    cursor: pointer;
}

.disabled {
    color: #F44336;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: #F44336;
}

.glyphicon-alert {
    color: #F44336 !important;
}

.glyphicon-trash {
    color: #616161;
}

.aliceblue {
    background-color: aliceblue;
    padding-bottom:40px;
}

@media screen and (min-width: 768px){
    .aliceblue {
        margin-bottom: 20px;
    }
}
.lightblue {
    background-color: lightblue;
    padding-bottom: 40px;
}

.cancela,.cancela:link,.cancela:visited,.cancela:hover,.cancela:focus,.cancela:active{
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #616161;
    margin: 0;
    padding: 0;
    /*background-color: #BBDEFB;*/
    /*background-color: #B3E5FC;*/
    /*background: url('../img/bg.jpg') no-repeat center center fixed;*/
    /*background-image: url('../img/bg.jpg') !important;*/
    /*background-size: cover !important;*/
    /*background-attachment: fixed !important;*/
    /*font-family: 'Titillium Web', sans-serif*/
}

h1 {
    /*text-transform: uppercase;*/
    font-size: 25px;
    font-weight: 600;
    /*color: #FAFAFA;*/
}

#optiheat-logo {
    margin-left:50px;
    height: 100%;
    width: auto;
    background-color:transparent;
}

.navbar-nav li a {
    color:#616161 !important;
    font-weight: 600;
    /*letter-spacing: 1px;*/
    font-family: 'Titillium Web', sans-serif;
    /*text-transform: uppercase;*/
}

.navbar {
    background-color: #ecf0f1;
    border: 0;
    border-radius: 0;
}

.nav > li > a:hover,
.navbar-nav li.active a {
    background-color:white;
}

/*.navbar .navbar-nav {*/
    /*display: inline-block;*/
    /*float: none;*/
    /*vertical-align: top;*/
/*}*/

/*.navbar .navbar-collapse {*/
    /*text-align: center;*/
/*}*/

.navbar-brand {
    /*background-color: white;*/
}

.navbar-header {
    border: 0px;
    /*background-color: white;*/
    /*width: 200px;*/
}

/*tr, td {*/
  /*border-style:hidden;*/
/*}*/

.zone-info, .water-info {
    border-style: hidden;
}

.border-bottom {
    border-bottom: 2px dashed #0288D1;
}

.border-top {
    border-top: 2px dashed #0288D1;
}

button {
    border-radius: 0 !important;
}

.btn-delete-zone, .btn-delete-circuit, .btn-delete-boiler, .btn-delete-water, .btn-delete-device, .btn-delete-card {
    border: none;
    background-image: url('../img/trash-icn.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    /*display: inline-block;*/
    width: 25px;
    height: 25px;
}

.btn-delete-card {
    width: 34px;
    height: 34px;
}

.btn-delete-zone:hover,
.btn-delete-circuit:hover,
.btn-delete-boiler:hover,
.btn-delete-water:hover,
.btn-delete-device:hover,
.btn-delete-card:hover {
    opacity: 0.8;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#ow-sensors {
    /*text-align: center;*/
}

.col-centered {
    float: none;
    margin: 0 auto;
}

ul.list-group-item, input, select, [class^='select2'] {
    border-radius: 0 !important;
}

ol[type="A"] li {
    font-size:11px;
}

.btn-info {
    background-color: #90CAF9;
    border-color: #90CAF9;
}

.toggle.android {
    border-radius: 0px;
    /*border-color: red;*/
}

.toggle.android .toggle-handle {
    border-radius: 0px;
    /*border-color: red;*/
    /*background-color: #90CAF9;*/
}

/*select { text-align-last:center; }*/

/*.btn-default {*/
    /*color:white;*/
    /*background-color: #90CAF9;*/
    /*border-color: #90CAF9;*/
/*}*/

/*.btn-default:link,*/
/*.btn-default:visited,*/
/*.btn-default:hover,*/
/*.btn-default:active {*/
    /*color:white !important;*/
    /*background-color: #616161 !important;*/
    /*border-color: #616161 !important;*/
/*}*/

.advanced-settings {
    opacity: 0.6;
    margin-top: 20px;
}
.advanced-settings:hover {
    opacity: 1;
    cursor: pointer;
}

table {
    width:100%;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #616161;
}

/*.margin-top20  {*/
    /*padding-top: 20px;*/
/*}*/












/*  Ivo add  */

/*input {*/
    /*background-color: rgba(0,0,0,0) !important;*/
/*}*/


.margin-top20  {
    padding-top: 40px;
}

/*#lx_1_2 {*/
    /*position: relative;*/
    /*overflow: hidden*/
/*}*/


select.input-sm,
.input-sm {
    height: 25px;
    font-size: 11px;
}

@media screen and (max-width: 1199px) {
    .remove-margin {
        margin-top: 0px !important;
    }
}

@media screen and (min-width: 379px) {
    .form-inline .form-group,
    .form-inline .form-control {
        display: inline-block !important;
        margin-bottom: 0px !important;
        vertical-align: middle !important;
        width: auto !important;
    }
}

.card-content {
    border-top: 1px dashed #616161;
    margin-top: 20px;
    padding-top: 20px;
}

input[name="sensor"] {
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1150px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.hidden {
    display: none;
}