{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if hardware_type == "lx_1_2" %}
                <h1 class="text-center">Hardware Lx_1_2</h1>
                <div id="hardware_image" class="hidden-lg">
                    <img src="{% static 'img/lx_1_2.png' %}" class="img-responsive text-center"
                         style="margin: 0 auto 40px auto;min-width: 417px;">
                </div>
                {% include "_lx_1_2.html" %}
            {% elif hardware_type == "lx_1_2l" %}
                <h1 class="text-center">Hardware Lx_1_2l</h1>
                <div class="hidden-lg">
                    <img src="{% static 'img/lx_1_2_light.png' %}" class="img-responsive text-center"
                         style="margin: 0 auto 40px auto;min-width: 417px;">
                </div>
                {% include "_lx_1_2l.html" %}
            {% elif hardware_type == "lx_1" %}
                <h1 class="text-center">Hardware Lx_1</h1>
                <div id="hardware_image" class="hidden-lg">
                    <img src="{% static 'img/lx_1_2.png' %}" class="img-responsive text-center"
                         style="margin: 0 auto 40px auto;min-width: 417px;">
                </div>
                {% include "_lx_1.html" %}
            {% elif hardware_type == "rasp" %}
                <h1 class="text-center">Hardware Rasp</h1>
            {% else %}
            {% endif %}
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Define custom parameters</h3>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" temp-name="" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-para-custom" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="row text-center">#}
{#            <br>#}
{#            <button id="save_shema" type="button" class="btn btn-success">Save</button>#}
{#        </div>#}

        {% if hardware_type == "rasp" or hardware_type == "desktop" %}
        {% else %}
        <div class="row">
            <h1 class="text-center">One Wire Sensors</h1>
            <div class="col-lg-4 col-md-6 col-sm-6 col-sx-12 col-centered">
                <div id="ow-sensors"></div>
                <button id="get_button" type="button" class="btn btn-default">Refresh</button>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col xs-12 col-centered">
                <h1 class="text-center">Virtual Digital Outputs</h1>
                 <table id="virtual-digital-outputs-table" class="table">
                     <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                     </thead>
                    <tbody id="vdo-body">
                    {% if not virtual_digital_outputs %}
                    {% else %}
                        {% for output in virtual_digital_outputs %}
                            <tr>
                                <td><input type="text" class="form-control" name="virtual_digital_output"
                                           value="{{ output }}" private_key="{{ output.id }}"></td>
                                <td>
                                    <button type="submit" class="btn btn-default btn-delete-name">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <button id="add_vdo" type="submit" class="btn btn-default">add</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col xs-12 col-centered">
                <h1 class="text-center">Virtual sensors</h1>
                <table id="virtual-sensors-table" class="table">
                     <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                     </thead>
                    <tbody id="vs-body">
                    {% if not virtual_sensors %}
                    {% else %}
                        {% for input in virtual_sensors %}
                            <tr>
                                <td><input type="text" class="form-control" name="virtual_sensor"
                                           value="{{ input }}" private_key="{{ input.id }}"></td>
                                <td>
                                    <button type="submit" class="btn btn-default btn-delete-name">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <button id="add_vs" type="submit" class="btn btn-default">add</button>
            </div>
        </div>

        <div class="row" style="padding-bottom:40px;">
            <div class="col-lg-4 col-md-6 col-sm-6 col xs-12 col-centered">
                <h1 class="text-center">Virtual Analog Outputs</h1>
                <table id="virtual-analog-outputs-table" class="table">
                     <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                     </thead>
                    <tbody id="vao-body">
                    {% if not virtual_analog_outputs %}
                    {% else %}
                        {% for output in virtual_analog_outputs %}
                            <tr>
                                <td><input type="text" class="form-control" name="virtual_analog_output"
                                           value="{{ output }}" private_key="{{ output.id }}"></td>
                                <td>
                                    <button type="submit" class="btn btn-default btn-delete-name">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <button id="add_vao" type="submit" class="btn btn-default">add</button>
            </div>
        </div>

    </div>

{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var static_url = '{% url 'app:onewire-ajax' %}';
    </script>
    <script src="{% static "js/scripts.js" %}"></script>
    <script src="{% static "js/owsensors.js" %}"></script>
    <script>
        var pt100 = '[{"x":5272, "t":19},{"x":5438, "t":37}]';
        var pt1000 = '[{"x":960, "t":4},{"x":2700, "t":8}]';
        var pt500 = '[{"x":666, "t":3},{"x":4890, "t":10},{"x":13400, "t":26}]';

        $(document).on("click", "#add_vdo", function () {

            var html = "<td><input type='text' class='form-control' name='virtual_digital_output' private_key='-1'></td>" +
                "<td><button type='submit' class='btn btn-default btn-delete-name'>Delete</button></td>";
            var $row = $("<tr>", {html: html}).appendTo($("#virtual-digital-outputs-table").find("tbody"));
        });


        $(document).on("click", ".btn-delete-name", function () {
            $(this).closest('tr').remove();
        });

        $(document).on("click", "#add_vs", function () {

            var html = "<td><input type='text' class='form-control' name='virtual_sensor' private_key='-1'></td>" +
                "<td><button type='submit' class='btn btn-default btn-delete-name'>Delete</button></td>";
            var $row = $("<tr>", {html: html}).appendTo($("#virtual-sensors-table").find("tbody"));
        });

        $(document).on("click", "#add_vao", function () {

            var html = "<td><input type='text' class='form-control' name='virtual_analog_output' private_key='-1'></td>" +
                "<td><button type='submit' class='btn btn-default btn-delete-name'>Delete</button></td>";
            var $row = $("<tr>", {html: html}).appendTo($("#virtual-analog-outputs-table").find("tbody"));
        });

        $('.pt-dropdown').change(function () {
             var val = $(this).val();
             var name = $(this).parent().find('input').attr('name');
             if (val == "custom") {
                 var custom_para = $(this).children(':selected').attr('custom-para');
                 $('.modal-body input').val(custom_para);
                 $('.modal-body input').attr('temp-name', name);
                 $('#myModal').modal('show');
             }
        });

        $('.pt-dropdown').focus(function () {
             var val = $(this).val();
             $(this).blur();
             if (val == "pt100") {
                 $(this).children('[value="custom"]').attr('custom-para', pt100)
             } else if (val =="pt1000") {
                 $(this).children('[value="custom"]').attr('custom-para', pt1000)
             } else if (val =="pt500") {
                 $(this).children('[value="custom"]').attr('custom-para', pt500)
             }
        });

        $(".btn-para-custom").click(function() {
            var para_name = $('.modal-body input').attr('temp-name');
            var custom_para = $('.modal-body input').val();
            $("input[name=" + para_name + "]").next("select").next("select").children(':selected').attr('custom-para', custom_para);
        });

        $('a').click(function () {
            var digital_inputs = [];
            var digital_outputs = [];
            var analog_inputs = [];
            var analog_outputs = [];
            var virtual_digital_outputs = [];
            var virtual_sensors = [];
            var virtual_analog_outputs = [];
            var csrftoken = getCookie('csrftoken');

            $('input[name^="DO"]').each(function () {
                var name = $(this).val();
                digital_outputs.push(name)
            });

            $('input[name^="AI"]').each(function () {
                var object = {};
                object["name"] = $(this).val();
                object["type"] = $(this).next("select").val();
                object["para_type"] = $(this).next("select").next("select").val();
                if (object["para_type"] == "pt100") {
                    object["parameters"] = pt100
                } else if (object["para_type"] == "pt1000") {
                    object["parameters"] = pt1000
                } else if (object["para_type"] == "pt500") {
                    object["parameters"] = pt500
                } else if (object["para_type"] == "custom") {
                    object["parameters"] = $(this).next("select").next("select").children(':selected').attr('custom-para');
                }
                analog_inputs.push(object)
            });

            $('input[name^="AO"]').each(function () {
                var name = $(this).val();
                analog_outputs.push(name)
            });

            $('input[name^="DI"]').each(function () {
                var name = $(this).val();
                digital_inputs.push(name)
            });

            $('input[name="virtual_digital_output"]').each(function () {
                object = {};
                object['name'] = $(this).val();
                object['id'] = $(this).attr('private_key');
                virtual_digital_outputs.push(object)
            });

            $('input[name="virtual_analog_output"]').each(function () {
                object = {};
                object['name'] = $(this).val();
                object['id'] = $(this).attr('private_key');
                virtual_analog_outputs.push(object)
            });

            $('input[name="virtual_sensor"]').each(function () {
                object = {};
                object['name'] = $(this).val();
                object['id'] = $(this).attr('private_key');
                virtual_sensors.push(object)
            });

            $.ajax({
                url: '{% url 'app:sheme-ajax' %}',
                type: 'POST',
                data: {
                    digital_outputs: JSON.stringify(digital_outputs),
                    analog_inputs: JSON.stringify(analog_inputs),
                    analog_outputs: JSON.stringify(analog_outputs),
                    digital_inputs: JSON.stringify(digital_inputs),
                    vdo: JSON.stringify(virtual_digital_outputs),
                    virtual_sensors : JSON.stringify(virtual_sensors),
                    vao: JSON.stringify(virtual_analog_outputs),
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data.message)
                }
            });
        });

        function fixDivPosition() {
            var win = $(window);
            if (win.width() >= 559) {
                $('#digital_outputs').removeClass('col-xs-12');
                $('#digital_outputs').addClass('col-xs-4');
                $('input[name^="DO"]').each(function () {
                    $(this).removeClass('pull-left');
                    $(this).addClass('pull-right')
                });
                $('#analog_inputs').parent().removeClass('col-xs-12');
                $('#analog_inputs').parent().addClass('col-xs-8')
            } else {
                $('#digital_outputs').removeClass('col-xs-4');
                $('#digital_outputs').addClass('col-xs-12');
                $('input[name^="DO"]').each(function () {
                    $(this).removeClass('pull-right');
                    $(this).addClass('pull-left');
                });
                $('#analog_inputs').parent().removeClass('col-xs-8');
                $('#analog_inputs').parent().addClass('col-xs-12');
            }
        }
        $(window).on('resize', function () {
            fixDivPosition()
        });

        $(document).ready(function () {
            fixDivPosition()
        });
    </script>
{% endblock %}
