{% extends "base.html" %}
{% load i18n %}


{% block title %}Page unavailable{% endblock %}
 

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Page unavailable</h1>
            <p>We cannot serve this page unless you are on unix system.</p>
        </div>
    </div>
{% endblock %}