{% load staticfiles %}

<div id="digital_outputs" class="form-group col-lg-offset-2 col-lg-2 col-md-6 col-sm-6 col-xs-4">
    <div class="form-horizontal remove-margin" style="margin-top:75px;">
        {% for output in digital_outputs|slice:":4" %}
            <input type="text" style="max-width: 331px;" class="form-control input-sm pull-right"
                   name="DO{{ forloop.counter0 }}" placeholder="DO{{ forloop.counter0 }}"
                   value="{{ output }}">
        {% endfor %}
    </div>
    <div class="form-horizontal pull-right remove-margin" style="margin-top:60px;">
        {% for output in digital_outputs|slice:"4:" %}
            <input type="text" style="max-width: 331px;" class="form-control input-sm pull-right"
                   name="DO{{ forloop.counter0|add:4 }}"
                   placeholder="DO{{ forloop.counter0|add:4 }}" value="{{ output }}">
        {% endfor %}
    </div>
</div>
<div id="hardware_image" class="col-lg-4 hidden-md hidden-sm hidden-xs">
    <img src="{% static 'img/lx_1_2.png' %}" class="img-responsive text-center" style="margin: 0 auto;min-width: 417px;">
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8">
    <div id="analog_inputs" class="form-group remove-margin" style="margin-top:110px;">
        {% for input in analog_inputs %}
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm"
                           name="AI{{ forloop.counter0 }}"
                           placeholder="AI{{ forloop.counter0 }}" value="{{ input }}">
                    <select class="form-control input-sm">
                        <option value="temperature"
                                {% if input.type == "temperature" %}selected="selected"{% endif %}>Temperature
                        </option>
                        <option value="potenciometer"
                                {% if input.type == "potenciometer" %}selected="selected"{% endif %}>Potenciometer
                        </option>
                    </select>
                    <select class="form-control input-sm pt-dropdown">
                        <option value="pt100" {% if input.para_type == "pt100" %}selected="selected"{% endif %}>PT100</option>
                        <option value="pt1000" {% if input.para_type == "pt1000" %}selected="selected"{% endif %}>PT1000</option>
                        <option value="pt500" {% if input.para_type == "pt500" %}selected="selected"{% endif %}>PT500</option>
                        <option value="custom" {% if input.para_type == "custom" %}selected="selected"{% endif %}
                                custom-para="{% if input.para_type == "custom" %}{{ input.parameters }}{% else %}[{'x':0,'t':0}]{% endif %}">Custom</option>
                    </select>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="analog_outputs" class="form-group remove-margin" style="margin-top:30px;">
        <div class="form-horizontal">
            {% for output in analog_outputs %}
                <input type="text" style="max-width:331px;" class="form-control input-sm"
                       name="AO{{ forloop.counter0 }}"
                       placeholder="AO{{ forloop.counter0 }}" value="{{ output }}">
            {% endfor %}
        </div>
    </div>
    <div id="digital_inputs" class="form-group remove-margin" style="margin-top:24px;">
        <div class="form-horizontal">
            {% for input in digital_inputs %}
                <input type="text" style="max-width:331px;" class="form-control input-sm"
                       name="DI{{ forloop.counter0 }}" placeholder="DI{{ forloop.counter0 }}"
                       value="{{ input }}">
            {% endfor %}
        </div>
    </div>
</div>