{% extends "base.html" %}
{% load staticfiles %}
{% load get_parameter %}

{% block head %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1 list-group">
                <h3>Domestic Water</h3>
                {% for water in display_waters %}
                    <a class="cancela" href="{% url 'app:domestic-water' %}?page={{ forloop.counter }}">
                    <ul water-id="{{ forloop.counter }}" db-id="{{ water.id }}" class="list-group-item">
                        <li style="display:inline-block;">{% if water.is_valid == False %}<span class="glyphicon glyphicon-alert"></span>{% endif %} {{ water }}</li>
                        <li style="display:inline-block;" class="pull-right">
                            <button type="submit" water-id="{{ forloop.counter }}" db-id="{{ water.id }}" class="btn-delete-water"></button>
                        </li>
                    </ul>
                    </a>
                {% endfor %}
                <br>
                <button id="add_water" type="submit" class="btn btn-default">add</button>
            </div>
            <div id="main-content" class="col-md-9 col-sm-12 col-xs-12 aliceblue" {% if not waters %}style="display: none;"{% endif %}>
                {% for water in waters %}
                <table id="domestic-water-table" class="table">
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Domestic hot water</th>#}
{#                        <th>Optimization</th>#}
{#                    </tr>#}
{#                    </thead>#}
                    <tbody>
                        <tr id="water{{ forloop.counter0 }}" db-id="{{ water.id }}" class="water-main">
{#                            <td><input type="text" class="form-control" name="domestic_water" value="{{ water }}"></td>#}
{#                            <td><input type="checkbox" name="optimization_box" {% if water.optimization == True %}checked="checked"{% endif %}></td>#}
                        </tr>
                        <tr item-id="water{{ forloop.counter0 }}" class="water-info">
                        <td colspan="4">
                            <div id="{{ forloop.counter0 }}" class="container-fluid">
                                <div class="row">
                                    <br>
                                    <div class="col-lg-4 col-sm-6">
                                        <input type="text" class="form-control" style="font-size:24px;" name="domestic_water" value="{{ water }}" placeholder="Enter name">
                                    </div>
                                </div>
                                <div class="row margin-top20" style="display: none;">
                                    <div class="col-lg-4 col-sm-6">
                                        <h3>Optimization</h3>
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="optimization_box" data-toggle="toggle" data-style="android" data-onstyle="info"
                                                          {% if water.optimization == True %}checked="checked"{% endif %}></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top20">
                                    <div class="col-lg-4 col-sm-6">
                                        <h3>Temperature Sensor</h3>
                                        <input type="radio" name="temp_radio{{ forloop.counter0 }}" value="0"
                                               checked="checked" style="display:none;">
                                        <select class="tsensors_select form-control">
                                            <option value="-1" table-name="undefined">Select an option</option>
                                            {% for sensor in tsensors %}
                                                <option value="{{ sensor.id }}"
                                                        table-name="{{ sensor|to_class_name }}"
                                                        {% if water.ts_table == sensor.get_model_name and water.ts_id == sensor.id %}selected="selected"{% endif %}>
                                                    [{{ forloop.counter0 }} {{ sensor|to_class_name }}
                                                    ] {{ sensor.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="radio" name="temp_radio{{ forloop.counter0 }}" value="1"
                                               {% if water.fixed_temp %}checked="checked"{% endif %} style="display:none;">
                                        <input type="number" class="form-control" name="temperature_input" step="0.1"
                                               {% if water.fixed_temp %}value="{{ water.fixed_temp }}"{% endif %} style="display:none;">
                                    </div>
                                </div>
                                <div id="control_type" class="row margin-top20">
                                    <h3 class="col-sm-12">Control Type</h3>
                                    <div class="col-lg-2 col-xs-3">
                                        <label class="text-center">
                                            <input type="radio" name="control_type"
                                                   value="valve"
                                                   {% if water.control_type == "valve" %}checked="checked"{% endif %}>
                                            <img src="{% static '/img/zone_valve.png' %}" class="img-responsive">valve
                                        </label>
                                    </div>
                                    <div class="col-lg-2 col-xs-3">
                                        <label class="text-center">
                                            <input type="radio" name="control_type"
                                                   value="aux"
                                                   {% if water.control_type == "aux" %}checked="checked"{% endif %}>
                                            <img src="{% static '/img/aux_type.png' %}" class="img-responsive">aux
                                        </label>
                                    </div>
                                    <div class="col-lg-2 col-xs-3">
                                        <label class="text-center">
                                            <input type="radio" name="control_type"
                                                   value="no"
                                                   {% if water.control_type == "no" %}checked="checked"{% endif %}>
                                            <img src="{% static '/img/no_type.png' %}" class="img-responsive">no control
                                        </label>
                                    </div>
                                </div>
                                <div class="row valve_options margin-top20">
                                    <div id="bin" class="col-lg-6 col-sm-12"
                                         {% if water.control_type != "valve" %}style="display: none;"{% endif %}>
                                        <table id="bin_table">
                                            <p><b>Connection</b></p>
                                            <tr>
{#                                                <td>outID</td>#}
                                                <td>Digital output id &nbsp</td>
                                                <td><select class="bin_outID form-control">
                                                    <option value="-1" table-name="undefined">Select an option</option>
                                                    {% for output in DO %}
                                                        <option value="{{ output.id }}" table-name="{{ output.get_model_name }}"
                                                                {% if water.get_outid == output.id and water.get_out_table == output.get_model_name %}selected="selected"{% else %}
                                                                    {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                {% endif %}>
                                                            [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                    {% endfor %}
                                                </select></td>
                                            </tr>
                                        </table>
                                        <p class="advanced-settings"><b>Advanced settings <span class="caret"></span></b></p>
                                        <table style="display: none">
                                            <tr>
                                                <td>hyst</td>
                                                <td>Hysteresis</td>
                                                <td><input class="hyst form-control" type="number" step="0.1" value="1.0"
                                                           {% if water.parameters|get_value:"hyst" %}value=
                                                               {{ water.parameters|get_value:"hyst" }}{% endif %}>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <td>

                    </tbody>
                </table>
                {% endfor %}
                <div style="padding-left:23px;">
                    <button id="save-water" type="submit" class="btn btn-default">save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customscripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var prevSelected = "";

        $('select.bin_outID').focus(function () {
            prevSelected = $(this).val();
        });

        var optionSelectedVal = "";

        $('select.bin_outID').change(function () {
            var optionSelected = $(this).find('option:selected');
            optionSelectedVal = optionSelected.val();
            if (optionSelected.hasClass('disabled')) {
                var name = optionSelected.attr('name');
                $(this).find('option:first').prop('selected', true);
                $(this).find("option[value=" + prevSelected + "]").removeClass('disabled');
                $(this).blur()
            } else {
                $(this).blur()
            }
        });

        $(document).ready(function () {
            $('input[type="radio"]:checked').each(function () {
                $(this).parent("label").css("opacity", "1")
            });
            var parameter = window.location.search;
            if (parameter == "") {
                $("ul.list-group-item:first").addClass('active')
            } else {
                var page_no = parameter.split("=")[1];
                if ($.isNumeric(page_no)) {
                    $("ul.list-group-item[water-id=" + page_no + "]").addClass('active')
                } else {
                    $('ul.list-group-item:last').addClass('active')
                }
            }
        });

        $('input[type="radio"]').click(function () {
            var name = $(this).attr('name');
            console.log(name)
            $(this).parent("label").css("opacity", "1");
            $("input[name=" + name + "]:not(:checked)").parent("label").css("opacity", "0.6");
        });

        $('input[name="control_type"]').click(function () {
            var type = $(this).val();
            if (type.startsWith("valve")) {
                $(this).closest('div[id^=control_type]').next().find("div[id^=bin]").show();
            } else {
                $(this).closest('div[id^=control_type]').next().find("div[id^=bin]").hide();
            }
        });

        $('.tsensors_select').click(function () {
            $(this).prev().prop('checked', true);
        });

        $('input[name="temperature_input"]').click(function () {
            $(this).prev().prop('checked', true);
        });

        function saveWater(options) {
            var domestic_water = [];
            var object = {};
            var parameters = {};
            var csrftoken = getCookie('csrftoken');

            var $wrapper = $('.water-main');

            object["id"] = $wrapper.attr('db-id');
            object["name"] = $wrapper.next().find('input[name="domestic_water"]').val();
            object["optimization"] = $wrapper.next().find('input[name="optimization_box"]').is(":checked");
            object["ts_id"] = null;
            object["ts_table"] = null;
            object["fixed_temp"] = null;
            object["control_type"] = null;
            object["ctrl_type"] = null;

            var temp_radio = $wrapper.next().find('input[name^="temp_radio"]:checked');
            if (temp_radio.val() == 0) {
                object["ts_id"] = temp_radio.next().val();
                object["fixed_temp"] = null;
                object['ts_table'] = temp_radio.next().children(':selected').attr('table-name')
            } else if (temp_radio.val() == 1) {
                object["ts_id"] = null;
                object["ts_table"] = null;
                object["fixed_temp"] = (temp_radio.next().val());
            }

            var control_type = $wrapper.next().find('input[name^="control_type"]:checked').val();

            if (control_type == "valve") {
                object["control_type"] = control_type;
                object["ctrl_type"] = "bin";
                var outID = {};
                outID['id'] = $wrapper.next().find('.bin_outID').val();
                outID['table'] = $wrapper.next().find('.bin_outID').children(':selected').attr('table-name');
                parameters['outID'] = outID;
                parameters['hyst'] = $wrapper.next().find('.hyst').val();
            } else if (control_type == "aux" || control_type == "no") {
                object["control_type"] = control_type;
                object["ctrl_type"] = control_type;
            }

            object["parameters"] = parameters;
            domestic_water.push(object);

            $.ajax({
                url: '{% url 'app:domestic-water' %}',
                type: 'POST',
                data: {
                    domestic_water: JSON.stringify(domestic_water),
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (data) {
                    if (options && options.onSuccess) {
                        options.onSuccess();
                    }
                },
            });
        }

        function addDeleteDhw(command, id, link) {
            var csrftoken = getCookie('csrftoken');
            var url = '{% url 'app:domestic-water' %}';

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    command: command,
                    id: id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {
                    if (link && link == "first") {
                        location.href = url
                    } else if (link && link == "last"){
                        location.href = url + '?page=last'
                    }
                }
            });
        }

        $('#add_water').click(function () {
            addDeleteDhw("add", "", "last")
        });

        $('.btn-delete-water').click(function (e) {
            e.preventDefault();
            var db_id = $(this).attr('db-id');
            addDeleteDhw("delete", db_id, "first")
        });

        $('a').click(function () {
            var num = $('ul[water-id]').length;
            if (num > 0) {
                saveWater()
            }
        });

        $('#save-water').click(function () {
            saveWater({onSuccess: location.reload()})
        });

        $('input[name="domestic_water"]').click(function () {
            var name = $(this).val()
            if (name == "Domestic Water") {
                $(this).val("")
            }
        });

        $('.advanced-settings').click(function () {
            $(this).next().toggle()
        });
    </script>
{% endblock %}
