{% extends "base.html" %}
{% load staticfiles %}
{% load get_parameter %}

{% block head %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1 list-group">
                <h3>Heating Zones</h3>
                {% for zone in display_zones %}
                    <a class="cancela" href="{% url 'app:heating-zones' %}?page={{ forloop.counter }}">
                        <ul zone-id="{{ forloop.counter }}" db-id="{{ zone.id }}" class="list-group-item">
                            <li style="display:inline-block;">{% if zone.is_valid == False %}<span class="glyphicon glyphicon-alert"></span>{% endif %} {{ zone }}</li>
                            <li style="display:inline-block;" class="pull-right">
                                <button type="submit" zone-id="{{ forloop.counter0 }}" db-id="{{ zone.id }}" class="btn-delete-zone"></button>
                            </li>
                        </ul>
                    </a>
                {% endfor %}
                <br>
                <button id="add_zone" type="submit" class="btn btn-default">add</button>
            </div>
            <div id="main-content" class="col-md-9 col-sm-12 col-xs-12 aliceblue" {% if not zones %}style="display: none;"{% endif %}>
                {% for zone in zones %}
                <table id="heating-zones-table" class="table">
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Name</th>#}
{#                        <th class="text-center">Heating</th>#}
{#                        <th style="display:none;">Cooling</th>#}
{#                        <th class="text-center">Optimization</th>#}
{#                    </tr>#}
{#                    </thead>#}
                    <tbody>
                            <tr id="zone{{ forloop.counter0 }}" db-id="{{ zone.id }}" class="zone-main">
{#                                <td class="col-sm-2"><input type="text" class="form-control" name="heating_zone" value={{ zone }}></td>#}
{#                                <td class="text-center col-sm-2"><input type="checkbox" name="heating_box" {% if zone.heating == True %}checked="checked"{% endif %}></td>#}
{#                                <td style="display:none;"><input type="checkbox" name="cooling_box" {% if zone.cooling == True %}checked="checked"{% endif %}></td>#}
{#                                <td class="text-center col-sm-2"><input type="checkbox" name="optimization_box" {% if zone.optimization == True %}checked="checked"{% endif %}></td>#}
                            </tr>
                            <tr item-id="zone{{ forloop.counter0 }}" class="zone-info">
                                <td colspan="4">
                                    <br>



                                    <!--Temporary disabled. DO NOT DELETE!!!-->
                                    <!--<div class="row margin-top20">-->
                                        <!--<div class="col-sm-3 col-centered">-->
                                            <!--<h3 class="text-center">Optimization</h3>-->
                                            <!--<div class="checkbox text-center">-->
                                                <!--<label><input type="checkbox" name="optimization_box" data-toggle="toggle" data-style="android" data-onstyle="info"-->
                                                              <!--{% if zone.optimization == True %}checked="checked"{% endif %}></label>-->
                                            <!--</div>-->
                                            <!--<div class="checkbox" style="display:none;">-->
                                                <!--<label><input type="checkbox" name="heating_box"-->
                                                              <!--{% if zone.heating == True %}checked="checked"{% endif %}>heating</label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <div id="{{ forloop.counter0 }}" class="container-fluid">

                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6">
                                                <input type="text" class="form-control" style="font-size:24px;" name="heating_zone" value="{{ zone }}" placeholder="Enter name">
                                            </div>
                                        </div>

                                        <div class="row margin-top20">
                                            <div class="col-lg-4 col-sm-6">
                                                <h3 class="">Temperature Sensor</h3>
                                                <input type="radio" name="temp_radio{{ forloop.counter0 }}" value="0"
                                                       checked="checked" style="display:none;">
                                                <select class="tsensors_select form-control">
                                                        <option value="-1" table-name="undefined">Select an option</option>
                                                    {% for sensor in tsensors %}
                                                        <option value="{{ sensor.id }}"
                                                                table-name="{{ sensor|to_class_name }}" {% if zone.ts_table == sensor.get_model_name and zone.ts_id == sensor.id %}selected="selected"{% endif %}>
                                                            [{{ forloop.counter0 }}] {{ sensor|to_class_name }} - {{ sensor.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="radio" name="temp_radio{{ forloop.counter0 }}" value="1"
                                                {% if zone.fixed_temp %}checked="checked"{% endif %} style="display:none;">
                                                <input type="number" class="form-control" name="temperature_input" step="0.1"
                                                       {% if zone.fixed_temp %}value="{{ zone.fixed_temp }}"{% endif %} style="display:none;">
                                            </div>
                                        </div>

                                        <div id="heating_type" class="row margin-top20">
                                            <h3 class="col-sm-12">Heating Type</h3>
                                            <div class="col-lg-2 col-xs-3">
                                                <label class="text-center label-active">
                                                    <input type="radio" name="heating_type{{ forloop.counter0 }}" value="radiator"
                                                    {% if zone.heating_type == "radiator" or zone.heating_type == "undefined" %}checked="checked"{% endif %}>
                                                    <img src="{% static '/img/radiator.png' %}" class="img-responsive">radiator
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-xs-3">
                                                <label class="text-center">
                                                    <input type="radio" name="heating_type{{ forloop.counter0 }}" value="floor"
                                                    {% if zone.heating_type == "floor" %}checked="checked"{% endif %}>
                                                    <img src="{% static '/img/heating_floor.png' %}" class="img-responsive">floor
                                                </label>
                                            </div>
                                        </div>

                                        <div class="control_type row margin-top20">
                                            <h3 class="col-sm-12">Control Type</h3>
                                            <div class="col-lg-2 col-xs-3">
                                                <label class="text-center">
                                                    <input type="radio" name="control_type{{ forloop.counter0 }}" value="valve{{ forloop.counter0 }}"
                                                    {% if zone.control_type == "valve" %}checked="checked"{% endif %}>
                                                    <img src="{% static '/img/zone_valve.png' %}" class="img-responsive">valve
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-xs-3">
                                                <label class="text-center">
                                                    <input type="radio" name="control_type{{ forloop.counter0 }}" value="circuit{{ forloop.counter0 }}"
                                                    {% if zone.control_type == "circuit" %}checked="checked"{% endif %}>
                                                    <img src="{% static '/img/zone_circuit.png' %}" class="img-responsive">circuit
                                                </label>
                                            </div>
{#                                            <div class="clearfix visible-sm"></div>#}
                                            <div class="col-lg-2 col-xs-3">
                                                <label class="text-center">
                                                    <input type="radio" name="control_type{{ forloop.counter0 }}" value="aux{{ forloop.counter0 }}"
                                                    {% if zone.control_type == "aux" %}checked="checked"{% endif %}>
                                                    <img src="{% static '/img/aux_type.png' %}" class="img-responsive">aux
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-xs-3">
                                               <label class="text-center">
                                                    <input type="radio" name="control_type{{ forloop.counter0 }}" value="no{{ forloop.counter0 }}"
                                                    {% if zone.control_type == "no" %}checked="checked"{% endif %}>
                                                    <img src="{% static '/img/no_type.png' %}" class="img-responsive">no control
                                                </label>
                                            </div>
                                        </div>


                                        <div class="control_type_content row margin-top20">

                                            <div id="valve{{ forloop.counter0 }}" class="valve-content"
                                                 {% if zone.control_type != "valve" %}style="display: none;"{% endif %}>
                                                <h3 class="col-sm-12">Zone Valve Options</h3>
                                                <div class="col-lg-2 col-xs-3">
                                                    <label class="text-center">
                                                        <input type="radio" name="valve_options{{ forloop.counter0 }}"
                                                               value="bin" {% if zone.ctrl_type == "bin" %}checked="checked"{% endif %}>
                                                        <img src="{% static '/img/bin.png' %}" class="img-responsive">on/off (bin)
                                                    </label>
                                                </div>
                                                <div class="col-lg-2 col-xs-3">
                                                    <label class="text-center">
                                                        <input type="radio" name="valve_options{{ forloop.counter0 }}"
                                                               value="pulsstep2" {% if zone.ctrl_type == "pulsstep2" %}checked="checked"{% endif %}>
                                                        <img src="{% static '/img/pulsestep.png' %}" class="img-responsive">pulse
                                                    </label>
                                                </div>
                                                <div class="col-lg-2 col-xs-3">
                                                    <label class="text-center">
                                                        <input type="radio" name="valve_options{{ forloop.counter0 }}"
                                                               value="pid" {% if zone.ctrl_type == "pid" %}checked="checked"{% endif %}>
                                                        <img src="{% static '/img/pid.png' %}" class="img-responsive">pid
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="circuit{{ forloop.counter0 }}" class="col-lg-8 col-sm-12 circuit-content margin-top20"
                                                 {% if zone.control_type != "circuit" %}style="display: none;"{% endif %}>
                                                <table>
                                                    <p><b>Connections</b></p>
                                                    <tr>
{#                                                        <td>outID</td>#}
                                                        <td>Pump digital output id &nbsp</td>
                                                        <td><select class="p3w_outID form-control output-select p3w_select">
                                                            <option value="-1" table-name="undefined">Select an option</option>
                                                            {% for output in DO %}
                                                                <option value="{{ output.id }}" table-name="{{ output.get_model_name }}" name="{{ output.name }}"
                                                                        {% if zone.get_outid == output.id and zone.get_out_table == output.get_model_name %}selected="selected"{% else %}
                                                                            {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                        {% endif %}>
                                                                    [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                            {% endfor %}
                                                        </select></td>
                                                    </tr>
                                                    <tr>
{#                                                        <td>outOpenID</td>#}
                                                        <td>Mixing valve open (digital output id) &nbsp</td>
                                                        <td><select class="outOpenID form-control output-select p3w_select">
                                                            <option value="-1" table-name="undefined">Select an option</option>
                                                            {% for output in DO %}
                                                                <option value="{{ output.id }}" table-name="{{ output.get_model_name }}" name="{{ output.name }}"
                                                                        {% if zone.get_outOpenid == output.id and zone.get_outOpen_table == output.get_model_name %}selected="selected"{% else %}
                                                                            {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                        {% endif %}>
                                                                    [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                            {% endfor %}
                                                        </select></td>
                                                    </tr>
                                                    <tr>
{#                                                        <td>outCloseID</td>#}
                                                        <td>Mixing valve close (digital output id) &nbsp</td>
                                                        <td><select class="outCloseID form-control output-select p3w_select">
                                                            <option value="-1" table-name="undefined">Select an option</option>
                                                            {% for output in DO %}
                                                                <option value="{{ output.id }}" table-name="{{ output.get_model_name }}" name="{{ output.name }}"
                                                                        {% if zone.get_outCloseid == output.id and zone.get_outClose_table == output.get_model_name %}selected="selected"{% else %}
                                                                            {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                        {% endif %}>
                                                                    [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                            {% endfor %}
                                                        </select></td>
                                                    </tr>
                                                </table>
                                                <table id="p3w_table">
                                                    <br>
                                                    <p><b>Heating curve</b></p>
                                                    <img src="{% static '/img/wcurve.png' %}" class="img-responsive">
                                                    <ol type="A">
                                                        <li>Underfloor heating system, slope 0.2 to 0.8</li>
                                                        <li>Low temperature heating system, slope 0.8 to 1.6</li>
                                                        <li>Heating system with a boiler water temperature in excess of 167°F (75°C), slope 1.6 to 2.0</li>
                                                    </ol>
                                                    <tr>
{#                                                        <td>wcurveSlope</td>#}
                                                        <td>Slope &nbsp</td>
                                                        <td><input type="number" min="0.2" max="3.4" step="0.1"
                                                                   class="wcurveSlope form-control"
                                                                   {% if zone.parameters|get_value:"wcurveSlope" %}value=
                                                                       {{ zone.parameters|get_value:"wcurveSlope" }}{% else %}value="0.5"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
{#                                                        <td>wcurveShift</td>#}
                                                        <td>Shift &nbsp</td>
                                                        <td><input type="number" min="-10" max="10" step="0.1" value="0"
                                                                   class="wcurveShift form-control"
                                                                   {% if zone.parameters|get_value:"wcurveShift" %}value=
                                                                       {{ zone.parameters|get_value:"wcurveShift" }}{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
{#                                                        <td>wcurve_max</td>#}
                                                        <td>Weather curve max &nbsp</td>
                                                        <td><input type="number" max="90" step="0.1"
                                                                   class="wcurve_max form-control"
                                                                   {% if zone.parameters|get_value:"wcurve_max" %}value=
                                                                       {{ zone.parameters|get_value:"wcurve_max" }}{% else %}value="70.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
{#                                                        <td>wcurve_min</td>#}
                                                        <td>Weather curve min &nbsp</td>
                                                        <td><input type="number" min="20" step="0.1"
                                                                   class="wcurve_min form-control"
                                                                   {% if zone.parameters|get_value:"wcurve_min" %}value=
                                                                       {{ zone.parameters|get_value:"wcurve_min" }}{% else %}value="25.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p class="advanced-settings"><b>Advanced settings <span class="caret"></span></b></p>
                                                <table style="display: none;">
                                                    <tr>
                                                        <td>roomGain</td>
                                                        <td>Temperature correction (2 – floor heating, 8 – radiators)
                                                        </td>
                                                        <td><input type="number" min="0" step="0.1"
                                                                   class="roomGain form-control"
                                                                   {% if zone.parameters|get_value:"roomGain" %}value=
                                                                       {{ zone.parameters|get_value:"roomGain" }}{% else %}value="2.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>weatherGain</td>
                                                        <td>Outdoor temperature gain</td>
                                                        <td><input type="number" min="0" step="0.1"
                                                                   class="weatherGain form-control"
                                                                   {% if zone.parameters|get_value:"weatherGain" %}value=
                                                                       {{ zone.parameters|get_value:"weatherGain" }}{% else %}value="10.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>dt_room_max</td>
                                                        <td>Maximum temperature difference room–set (above this value
                                                            heating is disabled)
                                                        </td>
                                                        <td><input type="number" min="0" step="0.1"
                                                                   class="dt_room_max form-control"
                                                                   {% if zone.parameters|get_value:"dt_room_max" %}value=
                                                                       {{ zone.parameters|get_value:"dt_room_max" }}{% else %}value="0.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>weathCHrs</td>
                                                        <td>Outdoor hours average</td>
                                                        <td><input type="number" min="0" class="weathCHrs form-control"
                                                                   {% if zone.parameters|get_value:"weathCHrs" %}value=
                                                                       {{ zone.parameters|get_value:"weathCHrs" }}{% else %}value="0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>waitTime</td>
                                                        <td>Valve sleep_time in seconds</td>
                                                        <td><input type="number" min="1"
                                                                   class="p3w_waitTime form-control"
                                                                   {% if zone.parameters|get_value:"waitTime" %}value=
                                                                       {{ zone.parameters|get_value:"waitTime" }}{% else %}value="120"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>K</td>
                                                        <td>Valve travel time at dt=1K diff in miliseconds (proportional
                                                            gain)
                                                        </td>
                                                        <td><input type="number" min="100" class="K form-control"
                                                                   {% if zone.parameters|get_value:"K" %}value=
                                                                       {{ zone.parameters|get_value:"K" }}{% else %}value="500"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>K max</td>
                                                        <td></td>
                                                        <td><input type="number" min="1000" class="Kmax form-control"
                                                                   {% if zone.parameters|get_value:"Kmax" %}value=
                                                                       {{ zone.parameters|get_value:"Kmax" }}{% else %}value="10000"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>K min</td>
                                                        <td></td>
                                                        <td><input type="number" min="100" class="Kmin form-control"
                                                                   {% if zone.parameters|get_value:"Kmin" %}value=
                                                                       {{ zone.parameters|get_value:"Kmin" }}{% else %}value="1000"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>K_D</td>
                                                        <td>Travel factor (differential gain)</td>
                                                        <td><input type="number" min="100" class="K_D form-control"
                                                                   {% if zone.parameters|get_value:"K_D" %}value=
                                                                       {{ zone.parameters|get_value:"K_D" }}{% else %}value="5000"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>pdt_trig</td>
                                                        <td>Travel proportional trigger temperature difference</td>
                                                        <td><input type="number" min="0" step="0.1"
                                                                   class="pdt_trig form-control"
                                                                   {% if zone.parameters|get_value:"pdt_trig" %}value=
                                                                       {{ zone.parameters|get_value:"pdt_trig" }}{% else %}value="1.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>ddt_trig</td>
                                                        <td>Travel differential trigger temperature difference</td>
                                                        <td><input type="number" min="0" step="0.1"
                                                                   class="ddt_trig form-control"
                                                                   {% if zone.parameters|get_value:"ddt_trig" %}value=
                                                                       {{ zone.parameters|get_value:"ddt_trig" }}{% else %}value="0.1"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>tKesselID</td>
                                                        <td>Heat generator sensor id</td>
                                                        <td><select class="tKesselID form-control">
                                                            <option value="-1" table-name="undefined">None</option>
                                                            {% for sensor in tsensors %}
                                                                <option value="{{ sensor.id }}"
                                                                        table-name="{{ sensor|to_class_name }}"
                                                                        {% if zone.get_tKesselID == sensor.id and zone.get_tKesselID_table == sensor|to_class_name %}selected="selected"{% endif %}>
                                                                    [{{ forloop.counter0 }}] {{ sensor.name }}</option>
                                                            {% endfor %}
                                                        </select></td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>tKesselMin</td>
                                                        <td>Minimum temperature of heat generator (below this value
                                                            heating is disabled)
                                                        </td>
                                                        <td><input type="number" step="0.1"
                                                                   class="tKesselMin form-control"
                                                                   {% if zone.parameters|get_value:"tKesselMin" %}value=
                                                                       {{ zone.parameters|get_value:"tKesselMin" }}{% else %}value="50.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>tFloorID</td>
                                                        <td>Floor heating sensor id</td>
                                                        <td><select class="tFloorID form-control">
                                                            <option value="-1" table-name="undefined">None</option>
                                                            {% for sensor in tsensors %}
                                                                <option value="{{ sensor.id }}"
                                                                        table-name="{{ sensor|to_class_name }}"
                                                                        {% if zone.get_tFloorID == sensor.id and zone.get_tFloorID_table == sensor|to_class_name %}selected="selected"{% endif %}>
                                                                    [{{ forloop.counter0 }}] {{ sensor.name }}</option>
                                                            {% endfor %}
                                                        </select></td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>tFloorMax</td>
                                                        <td>Maximum temperature of floor heating (above this value
                                                            heating is disabled)
                                                        </td>
                                                        <td><input type="number" step="0.1"
                                                                   class="tFloorMax form-control"
                                                                   {% if zone.parameters|get_value:"tFloorMax" %}value=
                                                                       {{ zone.parameters|get_value:"tFloorMax" }}{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>tOutMax</td>
                                                        <td>Maximum outdoor temperature (above this value heating is
                                                            disabled)
                                                        </td>
                                                        <td><input type="number" step="0.1" class="tOutMax form-control"
                                                                   {% if zone.parameters|get_value:"tOutMax" %}value=
                                                                       {{ zone.parameters|get_value:"tOutMax" }}{% else %}value="20.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="valve_options row">
                                            <div id="bin" class="col-lg-6 col-sm-12 margin-top20"
                                                 {% if zone.ctrl_type != "bin" %}style="display: none;"{% endif %}>
                                                <table id="bin_table">
                                                    <p><b>Connection</b></p>
                                                    <tr>
{#                                                        <td>outID</td>#}
                                                        <td>Digital output id &nbsp</td>
                                                        <td><select class="bin_outID form-control output-select">
                                                            <option value="-1" table-name="undefined">Select an option</option>
                                                            {% for output in DO %}
                                                                <option value="{{ output.id }}" table-name="{{ output.get_model_name }}" name="{{ output.name }}"
                                                                        {% if zone.get_outid == output.id and zone.get_out_table == output.get_model_name %}selected="selected"{% else %}
                                                                            {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                        {% endif %}>
                                                                    [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                            {% endfor %}
                                                        </select></td>
                                                    </tr>
                                                </table>
                                                <p class="advanced-settings"><b>Advanced settings <span class="caret"></span></b></p>
                                                <table style="display:none;">
                                                    <tr>
                                                        <td>Hysteresis</td>
                                                        <td><input class="hyst form-control" type="number" step="0.1"
                                                                   {% if zone.parameters|get_value:"hyst" %}value=
                                                                       {{ zone.parameters|get_value:"hyst" }}{% else %}value="0.5"{% endif %}>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="pulsstep2" class="col-lg-6 col-sm-8 margin-top20"
                                                 {% if zone.ctrl_type != "pulsstep2" %}style="display: none;"{% endif %}>
                                                <table id="pulsstep2_table">
                                                    <p><b>Connection</b></p>
                                                    <tr>
{#                                                        <td>outID</td>#}
                                                        <td>Digital output id &nbsp</td>
                                                        <td>
                                                            <select class="pulsstep2_outID form-control output-select">
                                                                <option value="-1" table-name="undefined">Select an option</option>
                                                                {% for output in DO %}
                                                                    <option value="{{ output.id }}" table-name="{{ output.get_model_name }}" name="{{ output.name }}"
                                                                            {% if zone.get_outid == output.id and zone.get_out_table == output.get_model_name %}selected="selected"{% else %}
                                                                                {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                            {% endif %}>
                                                                        [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p class="advanced-settings"><b>Advanced settings <span class="caret"></span></b></p>
                                                <table style="display: none;">
                                                    <tr>
                                                        <td>prop_policy</td>
                                                        <td></td>
                                                        <td>
                                                            <select class="prop_policy form-control">
                                                                <option value="fixed"
                                                                        {% if zone.parameters|get_value:"prop_policy" == "fixed" %}selected{% endif %}>
                                                                    Fixed
                                                                </option>
                                                                <option value="linear"
                                                                        {% if zone.parameters|get_value:"prop_policy" == "linear" %}selected{% endif %}
                                                                        {% if not zone.parameters|get_value:"prop_policy" %}selected{% endif %}>
                                                                    Linear
                                                                </option>
                                                                <option value="square"
                                                                        {% if zone.parameters|get_value:"prop_policy" == "square" %}selected{% endif %}>
                                                                    Square
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CP</td>
                                                        <td>proportional gain %/K (in percents 0...100)</td>
                                                        <td><input type="number" step="0.1" min="0" max="100"
                                                                   class="CP form-control"
                                                                   {% if zone.parameters|get_value:"CP" %}value=
                                                                       {{ zone.parameters|get_value:"CP" }}{% else %}value="20.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>dt_prop_1</td>
                                                        <td></td>
                                                        <td><input type="number" min="0.05" step="0.05"
                                                                   class="dt_prop_1 form-control"
                                                                   {% if zone.parameters|get_value:"dt_prop_1" %}value=
                                                                       {{ zone.parameters|get_value:"dt_prop_1" }}{% else %}value="0.25"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>dt_prop_2</td>
                                                        <td></td>
                                                        <td><input type="number" min="0.05" step="0.05"
                                                                   class="dt_prop_2 form-control"
                                                                   {% if zone.parameters|get_value:"dt_prop_2" %}value=
                                                                       {{ zone.parameters|get_value:"dt_prop_2" }}{% else %}value="1.50"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>diff_policy</td>
                                                        <td></td>
                                                        <td>
                                                            <select class="diff_policy form-control">
                                                                <option value="fixed"
                                                                        {% if zone.parameters|get_value:"diff_policy" == "fixed" %}selected{% endif %}>
                                                                    Fixed
                                                                </option>
                                                                <option value="linear"
                                                                        {% if zone.parameters|get_value:"diff_policy" == "linear" %}selected{% endif %}
                                                                        {% if not zone.parameters|get_value:"diff_policy" %}selected{% endif %}>
                                                                    Linear
                                                                </option>
                                                                <option value="square"
                                                                        {% if zone.parameters|get_value:"diff_policy" == "square" %}selected{% endif %}>
                                                                    Square
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CD</td>
                                                        <td>differential gain %/K (in percents 0...100)</td>
                                                        <td><input type="number" step="0.1" min="0" max="100"
                                                                   class="CD form-control"
                                                                   {% if zone.parameters|get_value:"CD" %}value=
                                                                       {{ zone.parameters|get_value:"CD" }}{% else %}value="50.0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>dt_diff_1</td>
                                                        <td></td>
                                                        <td><input type="number" min="0.05" step="0.05"
                                                                   class="dt_diff_1 form-control"
                                                                   {% if zone.parameters|get_value:"dt_diff_1" %}value=
                                                                       {{ zone.parameters|get_value:"dt_diff_1" }}{% else %}value="0.1"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>dt_diff_2</td>
                                                        <td></td>
                                                        <td><input type="number" min="0.05" step="0.05"
                                                                   class="dt_diff_2 form-control"
                                                                   {% if zone.parameters|get_value:"dt_diff_2" %}value=
                                                                       {{ zone.parameters|get_value:"dt_diff_2" }}{% else %}value="1.50"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>o_pulse_sec</td>
                                                        <td>Step duration in seconds:</td>
                                                        <td><input type="number" min="1"
                                                                   class="o_pulse_sec form-control"
                                                                   {% if zone.parameters|get_value:"o_pulse_sec" %}value=
                                                                       {{ zone.parameters|get_value:"o_pulse_sec" }}{% else %}value="300"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>n_o_pulses</td>
                                                        <td>Number of steps in cycle:</td>
                                                        <td><input type="number" min="1" class="n_o_pulses form-control"
                                                                   {% if zone.parameters|get_value:"n_o_pulses" %}value=
                                                                       {{ zone.parameters|get_value:"n_o_pulses" }}{% else %}value="5"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>ctrl_pulse_msec</td>
                                                        <td>Control pulse in step (in ms):</td>
                                                        <td><input type="number" min="500"
                                                                   class="ctrl_pulse_msec form-control"
                                                                   {% if zone.parameters|get_value:"ctrl_pulse_msec" %}value=
                                                                       {{ zone.parameters|get_value:"ctrl_pulse_msec" }}{% else %}value="2000"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>n_ctrl_pulses</td>
                                                        <td>Number of control pulses in step:</td>
                                                        <td><input type="number" min="2" value="10"
                                                                   class="n_ctrl_pulses form-control"
                                                                   {% if zone.parameters|get_value:"n_ctrl_pulses" %}value=
                                                                       {{ zone.parameters|get_value:"n_ctrl_pulses" }}{% else %}value="10"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>output_transformed</td>
                                                        <td></td>
                                                        <td>
                                                            <select class="form-control output_transformed">
                                                                <option value="yes"
                                                                        {% if zone.parameters|get_value:"output_transformed" == "yes" %}selected{% endif %}>
                                                                    Yes
                                                                </option>
                                                                <option value="no"
                                                                        {% if zone.parameters|get_value:"output_transformed" == "no" %}selected{% endif %}
                                                                        {% if not zone.parameters|get_value:"output_transformed" %}selected{% endif %}>
                                                                    No
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>1. transformed_zerozero</td>
                                                        <td></td>
                                                        <td>
                                                            <select class="transformed_zerozero form-control">
                                                                <option value="yes"
                                                                        {% if zone.parameters|get_value:"transformed_zerozero" == "yes" %}selected{% endif %}>
                                                                    Yes
                                                                </option>
                                                                <option value="no"
                                                                        {% if zone.parameters|get_value:"transformed_zerozero" == "no" %}selected{% endif %}
                                                                        {% if not zone.parameters|get_value:"transformed_zerozero" %}selected{% endif %}>
                                                                    No
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>2. transformed_min</td>
                                                        <td></td>
                                                        <td><input type="number" min="0"
                                                                   class="transformed_min form-control"
                                                                   {% if zone.parameters|get_value:"transformed_min" %}value=
                                                                       {{ zone.parameters|get_value:"transformed_min" }}{% else %}value="0"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>3. transformed_max</td>
                                                        <td></td>
                                                        <td><input type="number" min="1"
                                                                   class="transformed_max form-control"
                                                                   {% if zone.parameters|get_value:"transformed_max" %}value=
                                                                       {{ zone.parameters|get_value:"transformed_max" }}{% else %}value="10"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>warmup_enabled</td>
                                                        <td>Valve warmup</td>
                                                        <td>
                                                            <select class="warmup_enabled form-control">
                                                                <option value="yes"
                                                                        {% if zone.parameters|get_value:"warmup_enabled" == "yes" %}selected{% endif %}>
                                                                    Yes
                                                                </option>
                                                                <option value="no"
                                                                        {% if zone.parameters|get_value:"warmup_enabled" == "no" %}selected{% endif %}
                                                                        {% if not zone.parameters|get_value:"warmup_enabled" %}selected{% endif %}>
                                                                    No
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>warmup_time_sec</td>
                                                        <td>Valve warmup time in seconds</td>
                                                        <td><input type="number" min="1"
                                                                   class="warmup_time_sec form-control"
                                                                   {% if zone.parameters|get_value:"warmup_time_sec" %}value=
                                                                       {{ zone.parameters|get_value:"warmup_time_sec" }}{% else %}value="60"{% endif %}>
                                                        </td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>warmup_trigtime_sec</td>
                                                        <td></td>
                                                        <td><input type="number" min="1"
                                                                   class="warmup_trigtime_sec form-control"
                                                                   {% if zone.parameters|get_value:"warmup_trigtime_sec" %}value=
                                                                       {{ zone.parameters|get_value:"warmup_trigtime_sec" }}{% else %}value="900"{% endif %}>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="pid" class="col-lg-6 col-sm-8 margin-top20" {% if zone.ctrl_type != "pid" %}style="display: none;"{% endif %}>
                                                <table id="pid_table">
                                                    <p><b>Connection</b></p>
                                                    <tr>
{#                                                        <td>outID</td>#}
                                                        <td>Analog output id &nbsp</td>
                                                        <td>
                                                            <select class="pid_outID form-control output-select">
                                                                <option value="-1" table-name="undefined">Select an option</option>
                                                                {% for output in AO %}
                                                                    <option value="{{ output.id }}" table-name="{{ output.get_model_name }}" name="{{ output.name }}"
                                                                            {% if zone.get_outid == output.id and zone.get_out_table == output.get_model_name %}selected="selected"{% else %}
                                                                                {% for id in selected_ids %}{% if output.id == id.0 and output.get_model_name == id.1 %}class="disabled"{% endif %}{% endfor %}
                                                                            {% endif %}>
                                                                        [{{ forloop.counter0 }}] {{ output.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p class="advanced-settings"><b>Advanced settings <span class="caret"></span></b></p>
                                                <table style="display: none;">
                                                    <tr>
                                                        <td>waitTime</td>
                                                        <td>Thread sleep time in seconds &nbsp</td>
                                                        <td><input type="number" min="1" max="3600" class="wait_time form-control"
                                                                   {% if zone.parameters|get_value:"waitTime" %}value={{ zone.parameters|get_value:"waitTime" }}{% else %}value="60"{% endif %}></td>
                                                    </tr>
                                                    <tr>
                                                        <td>PID_P</td>
                                                        <td>Proportional gain</td>
                                                        <td><input type="number" name="pid_p" min="0" step="0.1" class="pid_p form-control"
                                                                   {% if zone.parameters|get_value:"PID_P" %}value={{ zone.parameters|get_value:"PID_P" }}{% else %}value="10.0"{% endif %}></td>
                                                    </tr>
                                                    <tr>
                                                        <td>PID_I</td>
                                                        <td>Integral gain</td>
                                                        <td><input type="number" name="pid_i" min="0" step="0.1" class="pid_i form-control"
                                                                   {% if zone.parameters|get_value:"PID_I" %}value={{ zone.parameters|get_value:"PID_I" }}{% else %}value="0.1"{% endif %}></td>
                                                    </tr>
                                                    <tr>
                                                        <td>PID_D</td>
                                                        <td>Differential gain</td>
                                                        <td><input type="number" name="pid_d" min="0" step="0.1" class="pid_d form-control"
                                                                   {% if zone.parameters|get_value:"PID_D" %}value={{ zone.parameters|get_value:"PID_D" }}{% else %}value="2.0"{% endif %}></td>
                                                    </tr>
                                                    <tr>
                                                        <td>PID_W</td>
                                                        <td>Windup guard</td>
                                                        <td><input type="number" name="pid_w" min="0" step="0.1" class="pid_w form-control"
                                                                   {% if zone.parameters|get_value:"PID_W" %}value={{ zone.parameters|get_value:"PID_W" }}{% else %}value="5.0"{% endif %}></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
                {% endfor %}
                <div style="padding-left:23px;">
                    <button id="save-zone" type="submit" class="btn btn-default">save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customscripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var prevSelected = "";
        var prevSelectedTable = "";

        $('select.output-select').focus(function () {
            prevSelected = $(this).val();
            prevSelectedTable = $(this).find('option:selected').attr('table-name');
        });

        var optionSelectedVal = "";
        var optionSelectedTable = "";

        $('select.output-select').change(function () {
            var optionSelected = $(this).find('option:selected');
            optionSelectedVal = optionSelected.val();
            optionSelectedTable = optionSelected.attr('table-name');
            if (optionSelected.hasClass('disabled')) {
                var name = optionSelected.attr('name');
                $(this).find('option:first').prop('selected', true);
                $(this).find("option[value=" + prevSelected + "][table-name=" + prevSelectedTable + "]").removeClass('disabled');
                $(this).blur()
            } else {
                $(this).blur()
            }
        });

        $('select.p3w_select').change(function () {
            $('select.p3w_select').each(function () {
                $(this).find("option[value=" + prevSelected + "][table-name=" + prevSelectedTable + "]").removeClass('disabled');
                if (optionSelectedVal != -1) {
                    $(this).find("option[value=" + optionSelectedVal + "][table-name=" + optionSelectedTable + "]").addClass('disabled');
                }
            });
        });

        var idOfCurrentlyActive = "";

        $(document).ready(function () {
            $('input[type="radio"]:checked').each(function () {
                $(this).parent("label").css("opacity", "1")
            });
            var parameter = window.location.search;
            if (parameter == "") {
                $("ul.list-group-item:first").addClass('active')
            } else {
                var page_no = parameter.split("=")[1];
                if ($.isNumeric(page_no)) {
                    $("ul.list-group-item[zone-id=" + page_no + "]").addClass('active')
                } else {
                    $('ul.list-group-item:last').addClass('active')
                }
            }
        });

        $('input[type="radio"]').click(function () {
            var name = $(this).attr('name');
            console.log(name)
            $(this).parent("label").css("opacity", "1");
            $("input[name=" + name + "]:not(:checked)").parent("label").css("opacity", "0.6");
        });

        $('input[name^="heating_type"]').click(function () {
            var $wrapper = $(this).closest($('tr.zone-info'));
            if ($(this).val() == "radiator") {
                $wrapper.find('.hyst').val('0.5');
                $wrapper.find('.wait_time').val('60');
                $wrapper.find('.pid_i').val('0.1');
                $wrapper.find('.CP').val('20.0');
                $wrapper.find('.dt_prop_1').val('0.25');
                $wrapper.find('.dt_prop_2').val('1.50');
                $wrapper.find('.CD').val('50.0');
                $wrapper.find('.dt_diff_2').val('1.50');
                $wrapper.find('.o_pulse_sec').val('30');
                $wrapper.find('.wcurveSlope').val('1.0');
                $wrapper.find('.roomGain').val('2.0');
            } else if ($(this).val() == "floor") {
                $wrapper.find('.hyst').val('0.3');
                $wrapper.find('.wait_time').val('600');
                $wrapper.find('.pid_i').val('0.0');
                $wrapper.find('.CP').val('10.0');
                $wrapper.find('.dt_prop_1').val('0.20');
                $wrapper.find('.dt_prop_2').val('1.00');
                $wrapper.find('.CD').val('100.0');
                $wrapper.find('.dt_prop_1').val('2.00');
                $wrapper.find('.o_pulse_sec').val('300');
                $wrapper.find('.wcurveSlope').val('0.5');
                $wrapper.find('.roomGain').val('8.0');
            }
        });

        $('input[name^="control_type"]').click(function () {
            var type = $(this).val();
            var $wrapper = $(this).closest($("div.control_type"))
            if (type.startsWith("valve")) {
                var checked_valve = $('input[name^="valve_options"]:checked').val();
                $("#" + checked_valve + '').show();

                $wrapper.next("div.control_type_content").find($("#" + type)).show();
                $wrapper.next("div.control_type_content").find($("div[id^='circuit']")).hide();

                var p3w_ID = $wrapper.next('.control_type_content').find('.p3w_outID option:selected').val();
                var p3w_OpenID = $wrapper.next('.control_type_content').find('.outOpenID option:selected').val();
                var p3w_CloseID = $wrapper.next('.control_type_content').find('.outCloseID option:selected').val();

                var $bin_table = $wrapper.next().next().find('select.bin_outID option');
                var $pulsstep2_table = $wrapper.next().next().find('select.pulsstep2_outID option');
                var $pid_table = $wrapper.next().next().find('select.pid_outID option');

                $($bin_table).each(function () {
                    if ($(this).val() == p3w_ID || $(this).val() == p3w_OpenID || $(this).val() == p3w_CloseID) {
                        $(this).removeClass('disabled')
                    }
                });
                $($pulsstep2_table).each(function () {
                    if ($(this).val() == p3w_ID || $(this).val() == p3w_OpenID || $(this).val() == p3w_CloseID) {
                        $(this).removeClass('disabled')
                    }
                });
                $($pid_table).each(function () {
                    if ($(this).val() == p3w_ID || $(this).val() == p3w_OpenID || $(this).val() == p3w_CloseID) {
                        $(this).removeClass('disabled')
                    }
                });

            } else if (type.startsWith("circuit")) {
                $wrapper.next("div.control_type_content").find($("#" + type)).show();
                $wrapper.next("div.control_type_content").find($("div[id^='valve']")).hide();
                $wrapper.next().next("div.valve_options").find($("div[id^='bin']")).hide();
                $wrapper.next().next("div.valve_options").find($("div[id^='pulsstep2']")).hide();
                $wrapper.next().next("div.valve_options").find($("div[id^='pid']")).hide();
            } else {
                $wrapper.next("div.control_type_content").find($("div[id^='circuit']")).hide();
                $wrapper.next("div.control_type_content").find($("div[id^='valve']")).hide();
                $wrapper.next().next("div.valve_options").find($("div[id^='bin']")).hide();
                $wrapper.next().next("div.valve_options").find($("div[id^='pulsstep2']")).hide();
                $wrapper.next().next("div.valve_options").find($("div[id^='pid']")).hide();
            }
        });

        $('input[name^="valve_options"]').click(function () {
            var option = $(this).val();
            var $wrapper = $(this).closest($("div.control_type_content"));
            if (option.startsWith("bin")) {
                $wrapper.next($("div.valve_options")).find("#" + option).show();
                $wrapper.next($("div.valve_options")).find("div[id^='pulsstep2']").hide();
                $wrapper.next($("div.valve_options")).find("div[id^='pid']").hide();
            } else if (option.startsWith("pulsstep2")) {
                $wrapper.next($("div.valve_options")).find("#" + option).show();
                $wrapper.next($("div.valve_options")).find("div[id^='bin']").hide();
                $wrapper.next($("div.valve_options")).find("div[id^='pid']").hide();
            } else if (option.startsWith("pid")) {
                $wrapper.next($("div.valve_options")).find("#" + option).show();
                $wrapper.next($("div.valve_options")).find("div[id^='bin']").hide();
                $wrapper.next($("div.valve_options")).find("div[id^='pulsstep2']").hide();
            }
        });

        $('.output_transformed').change(function () {
            var val = $(this).val();
            if (val === "yes") {
                $(this).closest('tr').nextAll(':lt(3)').show()
            } else {
                $(this).closest('tr').nextAll(':lt(3)').hide()
            }
        });

        $('.warmup_enabled').change(function () {
            var val = $(this).val();
            if (val === "yes") {
                $(this).closest('tr').nextAll(':lt(2)').show()
            } else {
                $(this).closest('tr').nextAll(':lt(2)').hide()
            }
        });

        $('.tKesselID').change(function () {
            var val = $(this).val();
            if (val != -1) {
                $(this).closest('tr').next().show();
            } else {
                $(this).closest('tr').next().hide();
            }
        });

        $('.tFloorID').change(function () {
            var val = $(this).val();
            if (val != -1) {
                $(this).closest('tr').next().show();
            } else {
                $(this).closest('tr').next().hide();
            }
        });

        jQuery(function () {
            $('.output_transformed').change();
            $('.warmup_enabled').change();
            $('.tKesselID').change();
            $('.tFloorID').change();
        });

        $('.tsensors_select').click(function () {
            $(this).prev().prop('checked', true);
        });

        $('input[name="temperature_input"]').click(function () {
            $(this).prev().prop('checked', true);
        });

        function saveZone(options) {
            var heating_zones = [];
            var object = {};
            var parameters = {};
            var csrftoken = getCookie('csrftoken');

            var $wrapper = $('.zone-main');

            object["id"] = $wrapper.attr('db-id');
            object["name"] = $wrapper.next().find('input[name="heating_zone"]').val();
            object["heating"] = $wrapper.next().find('input[name="heating_box"]').is(":checked");
            object["cooling"] = $wrapper.next().find('input[name="cooling_box"]').is(":checked");
            object["optimization"] = $wrapper.next().find('input[name="optimization_box"]').is(":checked");

            object["ts_id"] = null;
            object["ts_table"] = null;
            object["fixed_temp"] = null;
            object["heating_type"] = null;
            object["control_type"] = null;
            object["ctrl_type"] = null;

            var temp_radio = $wrapper.next().find('input[name^="temp_radio"]:checked');
            if (temp_radio.val() == 0) {
                object["ts_id"] = temp_radio.next().val();
                object["fixed_temp"] = null;
                object["ts_table"] = temp_radio.next().children(':selected').attr('table-name')
            } else if (temp_radio.val() == 1) {
                object["ts_id"] = null;
                object["ts_table"] = null;
                object["fixed_temp"] = (temp_radio.next().val());
            }

            var heating_type = $wrapper.next().find('input[name^="heating_type"]:checked').val();
            if (heating_type == null) {
                console.log(heating_type)
            } else {
                object["heating_type"] = heating_type
            }

            var control_type = $wrapper.next().find('input[name^="control_type"]:checked').val();
            if (control_type != null) {
                var control_type = control_type.replace(/\d+/g, '');
            }

            if (control_type == "valve") {
                object["control_type"] = control_type;
                object["ctrl_type"] = $wrapper.next().find('input[name^="valve_options"]:checked').val();
                if (object["ctrl_type"] === "bin") {
                    var outID = {};
                    outID['id'] = $wrapper.next().find('.bin_outID').val();
                    outID['table'] = $wrapper.next().find('.bin_outID').children(':selected').attr('table-name');
                    parameters['outID'] = outID
                    parameters['hyst'] = $wrapper.next().find('.hyst').val();
                } else if (object["ctrl_type"] === "pulsstep2") {
                    var outID = {};
                    outID['id'] = $wrapper.next().find('.pulsstep2_outID').val();
                    outID['table'] = $wrapper.next().find('.pulsstep2_outID').children(':selected').attr('table-name');
                    parameters['outID'] = outID;
                    parameters['prop_policy'] = $wrapper.next().find('.prop_policy').val();
                    parameters['CP'] = $wrapper.next().find('.CP').val();
                    parameters['dt_prop_1'] = $wrapper.next().find('.dt_prop_1').val();
                    parameters['dt_prop_2'] = $wrapper.next().find('.dt_prop_2').val();
                    parameters['diff_policy'] = $wrapper.next().find('.diff_policy').val();
                    parameters['CD'] = $wrapper.next().find('.CD').val();
                    parameters['dt_diff_1'] = $wrapper.next().find('.dt_diff_1').val();
                    parameters['dt_diff_2'] = $wrapper.next().find('.dt_diff_2').val();
                    parameters['o_pulse_sec'] = $wrapper.next().find('.o_pulse_sec').val();
                    parameters['n_o_pulses'] = $wrapper.next().find('.n_o_pulses').val();
                    parameters['ctrl_pulse_msec'] = $wrapper.next().find('.ctrl_pulse_msec').val();
                    parameters['n_ctrl_pulses'] = $wrapper.next().find('.n_ctrl_pulses').val();
                    parameters['output_transformed'] = $wrapper.next().find('.output_transformed').val();
                    parameters['warmup_enabled'] = $wrapper.next().find('.warmup_enabled').val();
                    if (parameters['output_transformed'] === "yes") {
                        parameters['transformed_zerozero'] = $wrapper.next().find('.transformed_zerozero').val();
                        parameters['transformed_min'] = $wrapper.next().find('.transformed_min').val();
                        parameters['transformed_max'] = $wrapper.next().find('.transformed_max').val();
                    }
                    if (parameters['warmup_enabled'] === "yes") {
                        parameters['warmup_time_sec'] = $wrapper.next().find('.warmup_time_sec').val();
                        parameters['warmup_trigtime_sec'] = $wrapper.next().find('.warmup_trigtime_sec').val();
                    }
                } else if (object['ctrl_type'] === "pid") {
                    var outID = {};
                    outID['id'] = $wrapper.next().find('.pid_outID').val();
                    outID['table'] = $wrapper.next().find('.pid_outID').children(':selected').attr('table-name');
                    parameters['outID'] = outID;
                    parameters['waitTime'] = $wrapper.next().find('.wait_time').val();
                    parameters['PID_P'] = $wrapper.next().find('.pid_p').val();
                    parameters['PID_I'] = $wrapper.next().find('.pid_i').val();
                    parameters['PID_D'] = $wrapper.next().find('.pid_d').val();
                    parameters['PID_W'] = $wrapper.next().find('.pid_w').val();
                }
            } else if (control_type == "circuit") {
                object["control_type"] = control_type;
                object["ctrl_type"] = "p3w";
                parameters["wcurveSlope"] = $wrapper.next().find('.wcurveSlope').val();
                parameters["wcurveShift"] = $wrapper.next().find('.wcurveShift').val();
                parameters["wcurve_max"] = $wrapper.next().find('.wcurve_max').val();
                parameters["wcurve_min"] = $wrapper.next().find('.wcurve_min').val();
                var outID = {};
                outID['id'] = $wrapper.next().find('.p3w_outID').val();
                outID['table'] = $wrapper.next().find('.p3w_outID').children(':selected').attr('table-name');
                parameters['outID'] = outID;
                var outOpenID = {};
                outOpenID['id'] = $wrapper.next().find('.outOpenID').val();
                outOpenID['table'] = $wrapper.next().find('.outOpenID').children(':selected').attr('table-name');
                parameters['outOpenID'] = outOpenID;
                var outCloseID = {};
                outCloseID['id'] = $wrapper.next().find('.outCloseID').val();
                outCloseID['table'] = $wrapper.next().find('.outCloseID').children(':selected').attr('table-name');
                parameters['outCloseID'] = outCloseID;
                parameters["roomGain"] = $wrapper.next().find('.roomGain').val();
                parameters["weatherGain"] = $wrapper.next().find('.weatherGain').val();
                parameters["dt_room_max"] = $wrapper.next().find('.dt_room_max').val();
                parameters["weathCHrs"] = $wrapper.next().find('.weathCHrs').val();
                parameters["waitTime"] = $wrapper.next().find('.p3w_waittime').val();
                parameters["K"] = $wrapper.next().find('.K').val();
                parameters["Kmax"] = $wrapper.next().find('.Kmax').val();
                parameters["Kmin"] = $wrapper.next().find('.Kmin').val();
                parameters["K_D"] = $wrapper.next().find('.K_D').val();
                parameters["pdt_trig"] = $wrapper.next().find('.pdt_trig').val();
                parameters["ddt_trig"] = $wrapper.next().find('.ddt_trig').val();
                var tKesselID = {};
                tKesselID['id'] = $wrapper.next().find('.tKesselID').val();
                tKesselID['table'] = $wrapper.next().find('.tKesselID').children(':selected').attr('table-name');
                parameters['tKesselID'] = tKesselID;
                var tFloorID = {};
                tFloorID['id'] = $wrapper.next().find('.tFloorID').val();
                tFloorID['table'] = $wrapper.next().find('.tFloorID').children(':selected').attr('table-name');
                parameters['tFloorID'] = tFloorID;
                parameters["tOutMax"] = $wrapper.next().find('.tOutMax').val();
                parameters['tKesselMin'] = $wrapper.next().find('.tKesselMin').val();
                parameters['tFloorMax'] = $wrapper.next().find('.tFloorMax').val();

            } else if (control_type == "aux") {
                object["control_type"] = control_type;
                object["ctrl_type"] = "aux"
            } else if (control_type == "no") {
                object["control_type"] = control_type;
                object["ctrl_type"] = "no"
            }

            object["parameters"] = parameters;
            heating_zones.push(object);

{#            ajaxPost('{% url 'app:heating-zones' %}', { heating_zones: heating_zones }, options);#}

            $.ajax({
                url: '{% url 'app:heating-zones' %}',
                type: 'POST',
                data: {
                    heating_zones: JSON.stringify(heating_zones),
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {
                    if (options && options.onSuccess) {
                        options.onSuccess();
                    }
                },
            });
        }

        function addDeleteZone(command, id, link) {
            var csrftoken = getCookie('csrftoken');
            var url = '{% url 'app:heating-zones' %}';

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    command: command,
                    id: id,
                    link: link,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {
                    if (link && link == "first") {
                        location.href = url
                    } else if (link && link == "last"){
                        location.href = url + '?page=last'
                    }
                }
            });
        }


        $('#add_zone').click(function () {
            addDeleteZone("add", "", "last")
        });


        $('.btn-delete-zone').click(function (e) {
            e.preventDefault();
            var db_id = $(this).attr('db-id');
            addDeleteZone("delete", db_id, "first")
        });

        $('a').click(function () {
            var num = $('ul[zone-id]').length;
            if (num > 0) {
                saveZone()
            }
        });

        $('#save-zone').click(function () {
            saveZone({onSuccess:location.reload()})
        });

        $('input[name="heating_zone"]').click(function () {
            var name = $(this).val();
            if (name == "Heating Zone") {
                $(this).val("")
            }
        });

        $('.advanced-settings').click(function () {
            $(this).next().toggle()
        });
    </script>
{% endblock %}
