{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row aliceblue">
            <div class="col-md-12">
                <h3>Serial number:</h3>
                <p>{{ serial }}</p>
                <h3>Timezone settings</h3>
                <form action="" method="POST">{% csrf_token %}
                    <select name="city" onchange="this.form.submit()">
                        <option disabled selected value>Select an option</option>
                        {% for city in cities %}
                        <option name="city" value="{{ city }}" {% if city == city_selected.city or city == city_selected %}selected="selected"{% endif %}>{{ city }}</option>
                        {% endfor %}
                    </select>
                </form>
{#                {{ realtime }}#}
                <div>
                    <h3>Update Gui</h3>
                    <p>Current version: {{ current_gui }}</p>
                    {% if current_gui == latest_gui %}
                        <p {% if flag is True %}style="display:none;"{% endif %}>Gui is up-to-date.</p>{% else %}
                        <p>New version {{ latest_gui }} is available</p>{% endif %}
                    <p id="gui-message">{{ gui_message }}</p>
                    <form id="update-gui-form" action="" method="post"
                          {% if current_gui == latest_gui or flag is True %}style="display:none;"{% endif %}>{% csrf_token %}
                        <input type="submit" name="update_gui" class="btn btn-danger" type-name="gui" value="Update"/>
                    </form>
                </div>
                <div>
                    <h3>Update App</h3>
                    <p>Current version: {{ current_app }}</p>
                    {% if current_app == latest_app %}
                        <p {% if flag is True %}style="display:none;"{% endif %}>App is up-to-date.</p>{% else %}
                        <p {% if flag == True %}style="display:none;"{% endif %}>New version {{ latest_app }} is available</p>{% endif %}
                    <p id="app-message">{{ app_message }}</p>
                    <form id="update-app-form" action="" method="post"
                          {% if current_app == latest_app or flag is True %}style="display:none;"{% endif %}>{% csrf_token %}
                        <input type="submit" name="update_app" class="btn btn-danger" type-name="app" value="Update"/>
                    </form>
                </div>
                <br>
                <div class="progress" style="display:none;">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                </div>
                <div id="loader" style="display:none;"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('a').click(function () {
            var city = $('select[name="city"]').val();
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url 'app:main' %}',
                type: 'POST',
                data: {
                    city: city,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {
                    console.log(data.message)
                }
            });
        });

        function updatePost(type) {
            var csrftoken = getCookie('csrftoken');
            var hardware_type = "{{ hardware_type }}";
            var timer = 20000;
            if (hardware_type == "lx_1" && type == "gui") {
                timer = 140000
            } else if (hardware_type == "lx_1" && type == "app") {
                timer = 25000
            } else if (hardware_type != "1x_1" && type == "gui") {
                timer = 30000
            } else if (hardware_type != "1x_1" && type == "app") {
                timer = 16000
            }
            $('#loader').show();
            setTimeout(function () {
                $("body").find("select").removeAttr("disabled");
                $("body").find("a").unbind("click");
                $("input").prop('disabled', false);
                location.reload();
            }, timer);

            $.ajax({
                url: '{% url 'app:main' %}',
                type: 'POST',
                data: {
                    update: type,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {

                }
            });
        }

        function get_progress(type, mark) {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url 'app:progress-bar' %}',
                type: 'POST',
                data: {
                    update: type,
                    mark: mark,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(data) {
                    if (data.value < 100) {
                        $('.progress-bar').css('width', data.value + '%');
                        setTimeout(function () {
                            get_progress(type, "second");
                        }, 1000);
                    } else if (data.value == 100) {
                        $('.progress-bar').css('width', data.value + '%');
                        updatePost(type)
                    } else if (data.value == 999) {
                        console.log("ERROR");
                        location.reload();
                    }
                },
                complete: function() {
                }
            });
        };

        function get_status(type) {
             var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url 'app:progress-bar' %}',
                type: 'POST',
                data: {
                    update: type,
                    mark: "first",
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(data) {
                    if (data.value == 999) {
                        location.reload();
                    }
                },
            });
        }

        $('input[name^="update"]').click(function (e) {
            e.preventDefault();
            var type = $(this).attr('type-name');
            $(this).closest('form').hide();
            $('.progress').show();
            $("body").find("select").attr("disabled", "disabled");
            $("body").find("a").click(function (e) {
                e.preventDefault();
            });
            $("input").prop('disabled', true);
            get_status(type);
            get_progress(type, "second");
        });

    </script>
{% endblock %}