{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row aliceblue">
            <div class="col-md-6">
                <form action="" method="post">{% csrf_token %}
                    <table id="modbuss-table" class="table">
                        <thead>
                        <tr>
                            <th>Enable</th>
                            <th>Read Only</th>
                            <th>Port</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if not modbus_server %}
                            <tr>
                                <td><input type="checkbox" name="enable_box" checked="checked"></td>
                                <td><input type="checkbox" name="read_only_box" checked="checked"></td>
                                <td><input type="text" class="form-control" name="port" value="502"></td>
                            </tr>
                        {% endif %}
                        {% for modbuss in modbus_server %}
                        <tr>
                            <td><input type="checkbox" name="enable_box" {% if modbuss.enable == True %} checked="checked" {% endif %}></td>
                            <td><input type="checkbox" name="read_only_box" {% if modbuss.read_only == True %} checked="checked" {% endif %}></td>
                            <td><input type="text" class="form-control" name="port" value="{{ modbuss.port }}"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block customscripts %}

{% endblock %}
