{% extends "base.html" %}
{% load staticfiles %}
{% load get_parameter %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1 list-group">
                <h3>Modbus Devices</h3>
                {% for device in display_devices %}
                    <a class="cancela" href="{% url 'app:modbus-devices' %}?page={{ forloop.counter }}">
                        <ul device-id="{{ forloop.counter }}" db-id="{{ device.id }}" class="list-group-item">
                            <li style="display:inline-block;">{{ device }}</li>
                            <li style="display:inline-block;" class="pull-right">
                                <button type="submit" device-id="{{ forloop.counter }}" db-id="{{ device.id }}"
                                        class="btn-delete-device"></button>
                            </li>
                        </ul>
                    </a>
                {% endfor %}
                <br>
                <button id="add_device" type="submit" class="btn btn-default">add</button>
            </div>
            <div id="main-content" class="col-md-9 col-sm-12 col-xs-12 aliceblue" {% if not devices %}style="display: none;"{% endif %}>
                {% for device in devices %}
                    <div db-id="{{ device.id }}" class="container-fluid device-content">
                        <div class="row margin-top20">
                            <div class="col-lg-4 col-sm-6">
                                <input type="text" class="form-control" style="font-size:24px;"
                                       name="modbus_device" value="{{ device }}" placeholder="Enter name">
                            </div>
                        </div>
                        <div class="row margin-top20">
                            <div class="col-sm-6">
                                <table>
                                    <tr>
                                        <td>Ip address</td>
                                        <td>
                                            <input type="text" class="form-control" id="ip_address"
                                                    {% if device.ip_address %}
                                                   value="{{ device.ip_address }}"{% else %}value=""{% endif %}>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Port</td>
                                        <td>
                                            <input type="number" class="form-control" id="port"
                                                   value="{{ device.port }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Slave address</td>
                                        <td>
                                            <input type="text" class="form-control" id="slave_address"
                                                    {% if device.slave_address %}
                                                   value="{{ device.slave_address }}"{% else %}value=""{% endif %}>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="margin-top20">
                            <button id="add-card" type="submit" class="btn btn-default">add card</button>
                            {% if not device.modbuscard_set.all %}
                                <button id="save-device" type="submit" class="btn btn-default">save</button>
                            {% endif %}
                        </div>
                    </div>
                    {% for card in device.modbuscard_set.all %}
                        <div card-id="{{ card.id }}" class="container-fluid card-content">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-xs-10">
                                    <input type="text" class="form-control" style="font-size:24px;"
                                           name="modbus_card" value="{{ card }}" placeholder="Enter name">
                                </div>
                                <div>
                                    <button type="submit" card-id="{{ card.id }}" class="btn-delete-card"></button>
                                </div>
                            </div>
                            <div class="row margin-top20">
                                <div class="col-sm-6">
                                    <table>
                                        <tr>
                                            <td>Type</td>
                                            <td>
                                                <select class="card-type-select form-control">
                                                    <option value="undefined"
                                                            {% if card.type == "undefined" %}selected="selected"{% endif %}>
                                                        Select an option
                                                    </option>
                                                    <option value="do"
                                                            {% if card.type == "do" %}selected="selected"{% endif %}>
                                                        Digital Output
                                                    </option>
                                                    <option value="di"
                                                            {% if card.type == "di" %}selected="selected"{% endif %}>
                                                        Digital Input
                                                    </option>
                                                    <option value="ao"
                                                            {% if card.type == "ao" %}selected="selected"{% endif %}>
                                                        Analog Output
                                                    </option>
                                                    <option value="ai"
                                                            {% if card.type == "ai" %}selected="selected"{% endif %}>
                                                        Analog Input
                                                    </option>
                                                    <option value="ts"
                                                            {% if card.type == "ts" %}selected="selected"{% endif %}>
                                                        Temperature Sensor
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Registers</td>
                                            <td>
                                                <select class="registers-select form-control">
                                                    <option value="undefined" {% if card.registers == "undefined" %}selected="selected"{% endif %}
                                                    {% if card.type == "undefined" %}{% else %}style="display: none;"{% endif %}>Select an option</option>
                                                    <option value="discrete_inputs" {% if card.registers == "discrete_inputs" %}selected="selected"{% endif %}
                                                    {% if card.type == "di" %}{% else %}style="display: none;"{% endif %}>Discrete Inputs</option>
                                                    <option value="coils" {% if card.registers == "coils" %}selected="selected"{% endif %}
                                                    {% if card.type == "di" or card.type == "do" %}{% else %}style="display: none;"{% endif %}>Coils</option>
                                                    <option value="input_registers" {% if card.registers == "input_registers" %}selected="selected"{% endif %}
                                                    {% if card.type == "ai" or card.type == "ts" %}{% else %}style="display: none;"{% endif %}>Input Registers</option>
                                                    <option value="holding_registers" {% if card.registers == "holding_registers" %}selected="selected"{% endif %}
                                                    {% if card.type == "ai" or card.type == "ts" or card.type == "ao" %}{% else %}style="display: none;"{% endif %}>Holding Registers</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr {% if card.type != "ts" %}style="display:none;"{% endif %}>
                                            <td>Word type</td>
                                            <td>
                                                <select class="word-type-select form-control">
                                                    <option value="float">Float little endian</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Update time</td>
                                            <td>
                                                <input type="number" class="form-control" min="0" max="60"
                                                       value="{{ card.update_time }}" id="update-type">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ini policy</td>
                                            <td>
                                                <select class="ini-policy-select form-control">
                                                    <option value="recommended"
                                                            {% if card.ini_policy == "recommended" %}selected="selected"{% endif %}>
                                                        Recommended
                                                    </option>
                                                    <option value="required"
                                                            {% if card.ini_policy == "required" %}selected="selected"{% endif %}>
                                                        Required
                                                    </option>
                                                    <option value="no_init"
                                                            {% if card.ini_policy == "no_init" %}selected="selected"{% endif %}>
                                                        No Init
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>
                                                <input type="number" class="form-control" min="0"
                                                       {% if card.address %}value={{ card.address }}
                                                           {% else %}value=""{% endif %} id="sensor-address">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>No. of elements</td>
                                            <td>
                                                <input type="number" class="form-control" min="1"
                                                       value="{{ card.no_elements }}"
                                                       id="num-elements">
                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td class="sensor-list" style="padding-top:20px;">
                                                {% for sensor in card.modbus_set.all %}
                                                    <input type="text" class="form-control" name="sensor"
                                                           value="{{ sensor }}"
                                                           placeholder="Sensor name">
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                    {% if forloop.last %}
                                    <div>
                                        <br>
                                        <button id="save-device" type="submit" class="btn btn-default">save</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {
            var parameter = window.location.search;
            if (parameter == "") {
                $("ul.list-group-item:first").addClass('active')
            } else {
                var page_no = parameter.split("=")[1];
                if ($.isNumeric(page_no)) {
                    $("ul.list-group-item[device-id=" + page_no + "]").addClass('active')
                } else {
                    $('ul.list-group-item:last').addClass('active')
                }
            }
        });

        $('input[name="modbus_device"]').click(function () {
            var name = $(this).val();
            if (name == "Modbus Device") {
                $(this).val("")
            }
        });

        $('input[name="modbus_card"]').click(function () {
            var name = $(this).val();
            if (name == "Modbus Card") {
                $(this).val("")
            }
        });

        jQuery(function () {
{#            $('.card-type-select').change();#}
            $('input[id="num-elements"]').change()
        });

        $('.card-type-select').change(function () {
            var val = $(this).val();
            var $target = $(this).parent().parent().parent();
            $target.find('.word-type-select').parent().parent().hide();

            $target.find('.registers-select option').each(function () {
                $(this).prop('selected', false);
                $(this).hide();
            });

            if (val == "undefined") {
                $target.find('.registers-select').val('undefined');
                $target.find('.registers-select').prop('disabled', true);
            } else if (val == "do") {
                $target.find('.registers-select').prop('disabled', false);
                $target.find('.registers-select').val('coils');
                $target.find('.registers-select option[value="coils"]').show();
            } else if (val == "di") {
                $target.find('.registers-select').prop('disabled', false);
                $target.find('.registers-select').val('discrete_inputs');
                $target.find('option[value="discrete_inputs"]').show();
                $target.find('option[value="coils"]').show();
            } else if (val == "ao") {
                $target.find('.registers-select').prop('disabled', false);
                $target.find('.registers-select').val('holding_registers');
                $target.find('option[value="holding_registers"]').show();
            } else if (val == "ai") {
                $target.find('.registers-select').prop('disabled', false);
                $target.find('.registers-select').val('input_registers');
                $target.find('option[value="input_registers"]').show();
                $target.find('option[value="holding_registers"]').show();
            } else if (val == "ts") {
                $target.find('.registers-select').prop('disabled', false);
                $target.find('.registers-select').val('input_registers');
                $target.find('option[value="input_registers"]').show();
                $target.find('option[value="holding_registers"]').show();
                $target.find('.word-type-select').parent().parent().show();
            }
        });

        $('input[id="num-elements"]').on("change paste keyup", function () {
            var numElements = $(this).val();
            var numSensors = $(this).closest('table').next('table').find('input[name="sensor"]').length;
            if (numElements > numSensors) {
                var diff = parseInt(numElements) - parseInt(numSensors);
                var html = "<input type='text' class='form-control' name='sensor' value='' placeholder='Sensor name'>".repeat(diff);
                $(this).closest('table').next('table').find('.sensor-list').append(html);
            } else if (numElements < numSensors) {
                var diff = parseInt(numSensors) - parseInt(numElements);
                while (diff--) {
                    $(this).closest('table').next('table').find('.sensor-list').find('input[name="sensor"]:last').remove()
                }
            }
        });

        function getDevice () {
            var data = {};
            data['id'] = $('.device-content').attr('db-id');
            data['name'] = $('input[name="modbus_device"]').val();
            data['ip_address'] = $('input[id="ip_address"]').val();
            data['port'] = $('input[id="port"]').val();
            data['slave_address'] = $('input[id="slave_address"]').val();
            return data
        }

        function getCards () {
            var cards = [];
            $('.card-content').each(function () {
                var data = {};
                data['id'] = $(this).attr('card-id');
                data['name'] = $(this).find('input[name="modbus_card"]').val();
                data['type'] = $(this).find('.card-type-select').val();
                data['registers'] = $(this).find('.registers-select').val();
                data['update_time'] = $(this).find('input[id="update-type"]').val();
                data['ini_policy'] = $(this).find('.ini-policy-select').val();
                data['address'] = $(this).find('input[id="sensor-address"]').val();
                data['no_elements'] = $(this).find('input[id="num-elements"]').val();
                var sensor_names = [];
                $(this).find('input[name="sensor"]').each(function () {
                    sensor_names.push($(this).val());
                });
                data['sensor_names'] = sensor_names;
                cards.push(data)
            });
            return cards
        }

        function addDelete(object_name, command, id, link) {
            var device_data = getDevice();
            var cards = getCards();
            var csrftoken = getCookie('csrftoken');
            var url = '{% url 'app:modbus-devices' %}';

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    device_data: JSON.stringify(device_data),
                    cards: JSON.stringify(cards),
                    object: object_name,
                    command: command,
                    id: id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {
                    if (link && link == "first") {
                        location.href = url
                    } else if (link && link == "last"){
                        location.href = url + '?page=last'
                    } else if (link && link == "current") {
                        location.reload()
                    }
                }
            });
        }

        $('a').click(function () {
           addDelete("", "", "", "")
        });

        $('#save-device').click(function () {
           addDelete("", "", "", "current")
        });

        $('#add_device').click(function() {
            addDelete("device", "add", "", "last")
        });

        $('#add-card').click(function() {
            var device_id = $('.device-content').attr('db-id');
            addDelete("card", "add", device_id, "current")
        });

        $('.btn-delete-card').click(function () {
            var card_id = $(this).attr('card-id');
            addDelete("card", "delete", card_id, "current")
        });

        $('.btn-delete-device').click(function (e) {
            e.preventDefault();
            var db_id = $(this).attr('db-id');
            addDelete("device", "delete", db_id, "first")
        });
    </script>
{% endblock %}
