{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row aliceblue">
            <div class="col-md-12">
                <div class="col-lg-4 col-sm-4">
                    {% if not outdoor_sensor %}
                    <div>
                        <h3>Outdoor Sensor</h3>
                        <select class="outdoor-sensor-select form-control">
                            <option value="-1" table-name="undefined">No Sensor</option>
                            {% for sen in all_sensors %}
                                <option value="{{ sen.id }}" table-name="{{ sen.get_model_name }}">{{ sen.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="margin-top20">
                        <h3>Enable Remote</h3>
                        <input type="checkbox" name="enable_remote">
                    </div>
                    <div id="data-expiration" class="margin-top20" style="display: none;">
                        <h3>Data Expiration <span><small>(hours)</small></span></h3>
                        <input type="number" min="1" max="10" name="data-expiration" class="form-control">
                    </div>
                    <div id="preferred-data" class="margin-top20" style="display: none;">
                        <h3>Preferred Data</h3>
                        <select class="preferred-data-select form-control">
                            <option value="local">Local Sensor</option>
                            <option value="remote">Remote Sensor</option>
                        </select>
                    </div>
                    <div class="margin-top20">
                        <button id="save-outdoor-sensor" type="submit" class="btn btn-default">Save</button>
                    </div>
                    {% else %}
                        {% for sensor in outdoor_sensor %}
                            <div>
                                <h3>Outdoor Sensor</h3>
                                <select class="outdoor-sensor-select form-control">
                                    <option value="-1" table-name="undefined">No Sensor</option>
                                    {% for sen in all_sensors %}
                                        <option value="{{ sen.id }}" table-name="{{ sen.get_model_name }}" {% if sensor.sensor_id == sen.id and sensor.table_name == sen.get_model_name %}selected="selected"{% endif %}>{{ sen.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="margin-top20">
                                <h3>Enable Remote</h3>
                                <input type="checkbox" name="enable_remote" {% if sensor.enable_remote == True %}checked="checked"{% endif %}>
                            </div>
                            <div id="data-expiration" class="margin-top20" style="display: none;">
                                <h3>Data Expiration <span><small>(hours)</small></span></h3>
                                <input type="number" min="1" max="10" name="data-expiration" class="form-control"
                                       {% if sensor.data_expire > 0 %}value="{{ sensor.data_expire }}{% endif %}">
                            </div>
                            <div id="preferred-data" class="margin-top20" style="display: none;">
                                <h3>Preferred Data</h3>
                                <select class="preferred-data-select form-control">
                                    <option value="local" {% if sensor.preffered_data == "local" %}selected="selected"{% endif %}>Local Sensor</option>
                                    <option value="remote" {% if sensor.preffered_data == "remote" %}selected="selected"{% endif %}>Remote Sensor</option>
                                </select>
                            </div>
                            <div class="margin-top20">
                                <button id="save-outdoor-sensor" type="submit" class="btn btn-default">Save</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        jQuery(function () {
            $('input[name="enable_remote"]').change();
            $('select.outdoor-sensor-select').change();
        });

        $('input[name="enable_remote"]').change(function () {
            var sensor_id = $('.outdoor-sensor-select').val();
            if (this.checked == true && sensor_id == -1) {
                $('#data-expiration').show();
            } else if (this.checked == true && sensor_id != -1) {
                $('#data-expiration').show();
                $('#preferred-data').show();
            } else if (this.checked == false) {
                $('#data-expiration').hide();
                $('#preferred-data').hide();
            }
        });

        $('select.outdoor-sensor-select').change(function () {
            var sensor_id = $(this).val();
            var enable_remote = $('input[name="enable_remote"]').is(":checked");
            if (sensor_id == -1) {
{#                %('option[value="remote"]').prop('selected', true);#}
                $('#preferred-data').hide();
            } else if (sensor_id != -1 && enable_remote == true) {
                $('#preferred-data').show();
            }
        });

        function saveOutdoorSensor(options) {
            var csrftoken = getCookie('csrftoken');
            var sensor_id = $('.outdoor-sensor-select').val();
            var table_name = $('.outdoor-sensor-select').children(':selected').attr('table-name');
            var enable_remote = $('input[name="enable_remote"]').is(":checked");
            var data_expiration = $('input[name="data-expiration"]').val();
            var preferred_data = $('select.preferred-data-select').val();

            $.ajax({
                url: '{% url 'app:outdoor-sensor' %}',
                type: 'POST',
                data: {
                    sensor_id: sensor_id,
                    table_name: table_name,
                    enable_remote: enable_remote,
                    data_expiration: data_expiration,
                    preferred_data: preferred_data,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                    //debugMsg(data);
                },
                success: function (data) {
                    if (options && options.onSuccess) {
                        options.onSuccess();
                    }
                },
            });
        }

        $('#save-outdoor-sensor').click(function () {
            saveOutdoorSensor({onSuccess:location.reload()})
        });

    </script>

{% endblock %}