{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Controller running: <span id="controller_status" {% if controller_status == True %}class="glyphicon glyphicon-ok"
                                              {% else %}class="glyphicon glyphicon-remove">{% endif %}</span></h3>
                <form action="" method="POST">{% csrf_token %}
                    <input type="submit" name="controller" {% if controller_status == True %}value="stop" class="btn btn-danger"
                           {% else %}value="start" class="btn btn-success"{% endif %}>
                </form>
                <h3>Watchdog running: <span id="watchdog_status" {% if watchdog_status == True %}class="glyphicon glyphicon-ok"
                                              {% else %}class="glyphicon glyphicon-remove">{% endif %}</span></h3>
                <form action="" method="POST">{% csrf_token %}
                    <input type="submit" name="watchdog" {% if watchdog_status == True %}value="stop" class="btn btn-danger"
                           {% else %}value="start" class="btn btn-success"{% endif %}>
                </form>
                <h3>Broadcast running: <span id="broadcast_status" {% if broadcast_status == True %}class="glyphicon glyphicon-ok"
                                              {% else %}class="glyphicon glyphicon-remove">{% endif %}</span></h3>
                <form action="" method="POST">{% csrf_token %}
                    <input type="submit" name="broadcast" {% if broadcast_status == True %}value="stop" class="btn btn-danger"
                           {% else %}value="start" class="btn btn-success"{% endif %}>
                </form>
                <h3>Front panel running: <span id="frontpanel_status" {% if frontpanel_status == True %}class="glyphicon glyphicon-ok"
                                              {% else %}class="glyphicon glyphicon-remove">{% endif %}</span></h3>
                <h3>Status</h3>
                <pre lang="xml" id="status_xml">{{ status_xml }}</pre>
            </div>
        </div>
    </div>

{% endblock %}

{% block customscripts %}
<script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        (function worker() {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url 'app:status' %}',
                type: 'POST',
                data: {
                    status_request: "status",
                    csrfmiddlewaretoken: csrftoken,
                },
                success: function(data) {
                    if (data.controller_status == false) {
                        $('#controller_status').removeClass('glyphicon-ok').addClass('glyphicon-remove');
                        $('input[name="controller"]').removeClass('btn-danger').addClass('btn-success').val('start');
                    } else if (data.controller_status == true) {
                        $('#controller_status').removeClass('glyphicon-remove').addClass('glyphicon-ok');
                        $('input[name="controller"]').removeClass('btn-success').addClass('btn-danger').val('stop');
                    }
                    if (data.watchdog_status == false) {
                        $('#watchdog_status').removeClass('glyphicon-ok').addClass('glyphicon-remove');
                        $('input[name="watchdog"]').removeClass('btn-danger').addClass('btn-success').val('start');
                    } else if (data.watchdog_status == true) {
                        $('#watchdog_status').removeClass('glyphicon-remove').addClass('glyphicon-ok');
                        $('input[name="watchdog"]').removeClass('btn-success').addClass('btn-danger').val('stop');
                    }
                    if (data.broadcast_status == false) {
                        $('#broadcast_status').removeClass('glyphicon-ok').addClass('glyphicon-remove');
                        $('input[name="broadcast"]').removeClass('btn-danger').addClass('btn-success').val('start');
                    } else if (data.broadcast_status == true) {
                        $('#broadcast_status').removeClass('glyphicon-remove').addClass('glyphicon-ok');
                        $('input[name="broadcast"]').removeClass('btn-success').addClass('btn-danger').val('stop');
                    }
                },
                complete: function() {
                    setTimeout(worker, 3000);
                }
            });
        })();

        (function worker_xml() {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url 'app:status' %}',
                type: 'POST',
                data: {
                    status_xml: "status_xml",
                    csrfmiddlewaretoken: csrftoken,
                },
                success: function(data) {
                    $('#status_xml').text(data);
                },
                complete: function() {
                    setTimeout(worker_xml, 5000);
                }
            });
        })();
</script>
{% endblock %}